/**
 * @name        Custom Background for ElliottTheme
 * @description Permet de changer l'image de fond de discord
 * @author      Pilgrimeru#4540
 * @authorId    334103814598557696
 * @version     1.0
*/

@import url("https://pilgrimeru.github.io/ElliottTheme/rawCB.theme.css");

/*Paramettre du theme*/
:root {
    --background-image: url(https://i.ibb.co/Lrc3hJY/background.jpg);
    --transparency: 15%;
    --blur: 2px;
}

/* ||||  INSPIRATION  ||||
    https://github.com/CapnKitten/Translucence
    https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite
*/