/**
 * @name        ElliottThème
 * @description Discord en plus clair, plus personalisable, avec des animations et sans le spam de pub pour le nitro !
 * @author      Pilgrimeru#4540
 * @authorId    334103814598557696
 * @version     2.1.4
 */

@import url("https://pilgrimeru.github.io/ElliottTheme/rawtheme.theme.css");

/* ||||  Variables  |||| */

    /*Paramètres du thème*/
:root {
    --light: 8%; /*Par defaut sur discord = 12% (ne marche qu'avec le theme sombre)*/
    --border-alt: 10px; /*Par defaut sur discord = 5px*/
    --border: 10px; /*Par defaut sur discord = 0px*/
    --marge: 7px; /*Par defaut sur discord = 0px*/
    --marge-ext: 4px; /*Par defaut sur discord = 0px*/
}

/* ||||  INSPIRATION  ||||
    https://github.com/TBDG5310/BetterDiscord/tree/master/Themes/MaterialCord 
    https://github.com/DiscordStyles/iPadOS
    https://github.com/CorellanStoma/CreArts-Discord
    #css-snippets et custom-css du serveur officiel BetterDiscord
*/