/* ||||  BUBULE  |||| */
#app-mount .contents-2MsGLg .messageContent-2t3eCI {
    background-color: var(--background-secondary);
    padding: 8px;
    margin-left: unset;
    border-radius: 5px;
    width: fit-content;
}
.message-2CShn3 {background: none;}
/*mention*/
.mentioned-Tre-dv{background: none !important;}
.mentioned-Tre-dv.selected-2LX7Jy{background-color: var(--background-secondary-alt) !important;}
#app-mount .mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI {
    background-color: rgba(var(--mentioned-color),0.2);
}
#app-mount .mentioned-Tre-dv .contents-2MsGLg .messageContent-2t3eCI::before {
    background-color: rgb(var(--mentioned-color));
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 5px;
    z-index: 1;
}
#app-mount .mentioned-Tre-dv:before {display: none;}
/*replying before*/
#app-mount .replying-eZ7p5z .contents-2MsGLg .messageContent-2t3eCI::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 5px;
    z-index: 1;
}
.replying-eZ7p5z:before {
    display: none;
}
.repliedMessage-3Z6XBG:before {
    display: none;
}
