/* ||||  BUBULE  |||| */
#app-mount .contents_d3ae0d .messageContent_abea64 {
    background-color: var(--background-secondary);
    padding: 8px;
    margin-left: unset;
    border-radius: 5px;
    width: fit-content;
}
.message_ccca67 {background: none;}
/*mention*/
.mentioned_fa6fd2{background: none !important;}
.mentioned_fa6fd2.selected_e3bc5d{background-color: var(--background-secondary-alt) !important;}
#app-mount .mentioned_fa6fd2 .contents_d3ae0d .messageContent_abea64 {
    background-color: rgba(var(--mentioned-color),0.2);
}
#app-mount .mentioned_fa6fd2 .contents_d3ae0d .messageContent_abea64::before {
    background-color: rgb(var(--mentioned-color));
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 5px;
    z-index: 1;
}
#app-mount .mentioned_fa6fd2:before {display: none;}
/*replying before*/
#app-mount .replying__38514 .contents_d3ae0d .messageContent_abea64::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    border-radius: 5px;
    z-index: 1;
}
.replying__38514:before {
    display: none;
}
.repliedMessage__636d2:before {
    display: none;
}