:root {
	--light: 8%;
	--border-alt: 10px;
	--border: 10px;
	--marge: 7px;
	--marge-ext: 4px;
}

/* SOMMAIRE :
1] TITLE BAR
2] NOTICE (TOP)
3] CHAT STUFF
4] CHATBOX
5] CHAT POPOUTS
6] THREADS
7] SERVER LIST
8] CHANNELS LIST
9] MEMBERS LIST
10] MEMBERS PAGE
11] USER PROFILE
12] SETTINGS
13] RIGHT CLICK PANE
14] CALLS
15] FULL SCREEN CALLS
16] SERVER MESSAGE SEARCH
17] CREATE GROUP DM POPOUT
18] SHARE SCREEN POPUPS
19] MISC POPUPS
20] DISCOVERY PAGE
21] ANIMATION/TRANSITION
22] LIGHT THEME
23] DARK THEME
24] BETTERDISCORD
25] ANTI NITRO PUB
26] SIMPLE CORRECTIF DU THEMES
27] NOT SORTED
*/

/* ||||  TITLE BAR  |||| */
.typeWindows__5fa63 {
	margin-top: 0;
}
/*Change l'emplacement des icônes "reduire" "agrandir" "fermer"*/

.typeWindows__5fa63 {
	height: max(10px, var(--marge-ext)) !important;
}
.wordmarkWindows__05c46 {
	display: none;
}
.platform-win .toolbar__88c63 {
	margin-right: 135px;
}
#app-mount .winButton__88672 {
	top: 0;
	right: var(--marge-ext);
	height: 48px;
	width: 48px;
	margin-top: max(10px, var(--marge-ext));
	z-index: 1;
}
.winButton__88672 {
	color: var(--interactive-active);
}
.titleBar__01af6 .winButton__88672:nth-child(3) {
	border-radius: 0 !important;
}
.titleBar__01af6 .winButton__88672:nth-child(4) {
	border-radius: var(--border) 0 0 var(--border) !important;
}
.titleBar__01af6 .winButtonClose__73489 {
	top: calc(0px - max(10px, var(--marge-ext))) !important;
	height: 10px !important;
	right: 0 !important;
	border-radius: 0;
	background-color: transparent;
}
.winButtonClose__73489 svg:hover {
	background-color: #ed4245;
	border-radius: 0 var(--border) var(--border) 0 !important;
}
.winButtonClose__73489 svg {
	padding: 18px;
	top: calc(19px + max(10px, var(--marge-ext)));
	right: var(--marge-ext);
	position: relative;
}
/*adapation de themes*/

.scroller-3j5xK2 {
	top: 50px;
	padding-top: 0;
}
/*onglet decouverte de serveur*/
.viewWrapper__31916 {
	top: 18px;
	position: relative;
}
/*onglet poles etudiants*/
.standardSidebarView__1129a {
	margin-top: var(--marge-ext) !important;
}
/*parametre*/
.fullScreen__5263c .toolbar__88c63 {
	margin-right: 0 !important;
}
.root__3eef0.idle_d696d0 .chatButton_c6f407:not(.chatButtonShowing__1c75e) {
	transform: translate3d(-140px, -8px, 0)
}
.root__3eef0 .chatButton_c6f407:not(.chatButtonShowing__1c75e) {
	transform: translate3d(-140px, calc(-4px + var(--marge-ext)), 0)
}
.scroller__3d071::after {
	top: calc(max(10px, var(--marge-ext)) + 48px) !important;
}


/* ||||  NOTICE (TOP)  |||| */

.notice__5fd4c {
	border-radius: var(--border);
	margin: 0 0 var(--marge) 0;
	height: 45px;
	line-height: 3;
	padding-left: 10px;
	width: calc(100% - 210px);
}
#pluginNotice {
	margin: 0 0 var(--marge) 12px !important;
	border-radius: var(--border) !important;
	height: 45px !important;
	width: calc(100% - 222px) !important;
}
.button__57d93 {
	top: 10px;
	border-radius: var(--border);
}
.title_b7d661 .anchor_c8ddc0,
.toolbar__88c63 .anchor_c8ddc0 {
	display: none;
}
.closeButton_ffc97a {
	top: 4px;
}

/* ||||  CHAT STUFF  |||| */

.jumpToPresentBar__0ff7f {
	border-radius: var(--border-alt) var(--border-alt) 0 0 !important;
	left: 0;
	margin-bottom: -17px !important;
	padding: 0 7px 27px 7px;
	margin-right: -25px;
	width: calc(100% - 14px);
}
/*Friends Panel*/
.container__11d72 {
	width: calc(100% - var(--marge) - var(--marge-ext));
	border-radius: var(--border);
	margin-left: var(--marge);
}
.content__1a4fe::before {
	box-shadow: none
}
.container__5c7e7 {
	background-color: var(--background-tertiary) !important;
}
.tabBody_b3d268 {
	margin: var(--marge) var(--marge-ext) var(--marge-ext) var(--marge);
	border-radius: var(--border);
}
.peopleColumn__51df3 {
	border-radius: var(--border);
	background-color: var(--background-primary);
}
.nowPlayingColumn_f5023f {
	margin-left: var(--marge);
	background-color: transparent;
}
.container__0a6a9 {
	border-radius: var(--border);
}
.scroller__00e7e {
	border-left: none;
}
.card_f887fe.outer_a41cf3.padded__89fb8 {
	display: none;
}
.themed_b152d4 {
	margin-top: 0;
}
.themed_b152d4 .search__07df0 {
	order: 1;
}
.toolbar__88c63 .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
	display: none;
}
.container__11d72 .item_e4ca95.item-3XjbnG {
	border-radius: var(--border-alt);
}
.selectedBackground_d847da {
	border-radius: var(--border-alt);
}
.peopleListItem_d14722 {
	border-radius: var(--border-alt) !important;
}
.searchBar__63890,
.searchBarComponent__22760 {
	border-radius: var(--border-alt) !important;
}
.addFriendInputWrapper__4bf8e {
	border-radius: var(--border-alt);
}
.itemCard__1f162 {
	border-radius: var(--border-alt);
}
.section_efc22d {
	border-radius: var(--border-alt) !important;
}
.inset__0bfb3,
.separator_c2ecc6 {
	background-color: var(--background-primary) !important;
}
.body__83069 {
	border-radius: var(--border-alt) !important;
}
.result__25f11 {
	border-radius: var(--border-alt) !important;
}
.arrowIcon__1bc6e {
	display: none;
}
.profilePanel__12596 {
	margin-left: var(--marge);
	border-radius: var(--border);
	overflow: hidden;
}
/*Global Search Button*/
.quickswitcher_a3d29a {
	border-radius: var(--border);
}
.input__848cd {
	border-radius: var(--border);
	box-shadow: none;
	background-color: var(--background-secondary-alt) !important;
}
/* POSTS */
.container-3wLKDe {
	background: var(--background-secondary);
}
/*Main*/
.content__1a4fe {
	margin: var(--marge) var(--marge-ext) var(--marge-ext) var(--marge);
	border-radius: var(--border-alt) !important;
}
.chatContent__5dca8 {
	background-color: var(--background-primary);
	border-radius: var(--border);
}
.scroller__1f96e {
	background-color: var(--background-primary);
	border-radius: var(--border) var(--border) 0 0;
	height: calc(100% + 4px);
}
.auto_a48086.scrollerBase_dc3aa9:not(.contentRegionScroller__86c79) {
	height: calc(100% - 5px);
}
.chat__52833 {
	background-color: var(--background-tertiary);
	border-radius: var(--border-alt);
}
.buttons__3766a {
	padding: 0;
}
.button_afdfd9 {
	border-radius: var(--border);
}
.message__80c10 .roleIcon__59ca1 {
	margin-left: 7px;
}
.container_d6dad3 {
	border-radius: var(--border-alt);
}

/*Channel Description*/
.modal__4f3da {
	border-radius: var(--border);
}
/*Spoiler blur*/
.contents_f41bb2 .spoilerText-27bIiA.hidden-3B-Rum,
.contents_f41bb2 .spoilerText-27bIiA.hidden-3B-Rum:hover,
.contents_f41bb2 .spoilerText-27bIiA {
	background: rgb(130, 130, 130, 0.1);
	border-radius: 7px;
}
.contents_f41bb2 .spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
	filter: blur(3px);
	opacity: 1;
	transition: 350ms;
}
.contents_f41bb2 .spoilerText-27bIiA.hidden-3B-Rum:hover > .inlineContent-2YnoDy {
	filter: none;
	opacity: 1;
	transition: 700ms;
}

/* ||||  CHATBOX  |||| */

/*Post*/
.container-3wLKDe {
	border-radius: var(--border);
}
/*Server Guide*/
.auto_a48086.scrollerBase_dc3aa9:not(.contentRegionScroller__86c79, .scrollerBase_dc3aa9) {
	background-color: var(--background-primary);
	margin-left: var(--marge);
	margin-top: var(--marge);
	margin-bottom: var(--marge-ext);
	margin-right: var(--marge-ext);
	border-radius: var(--border);
}
.threadSidebarOpen_fa231d .auto_a48086.scrollerBase_dc3aa9 {
	margin-right: 0 !important;
}
/*Roles channel*/
.emptyPage__3e15d, .scrollerContainer_bf5dbd {
	background-color: var(--background-primary);
}
.container__10dc7, .header__60bef {
	background-color: var(--background-primary);
}
.profile_b28ef9 {
	background-color: var(--background-secondary);
	padding: 10px;
	border-radius: var(--border);
	height: fit-content;
}

/*main chat*/
.scrollableContainer__33e06 {
	position: relative;
	z-index: 2;
	background: var(--background-secondary-alt);
	max-height: 37vh;
	border-radius: var(--border);
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 3px;
	padding-bottom: 4px;
	padding-right: 12px;
}
.channelTextAreaDisabled_c43b1c .scrollableContainer__33e06 {
	opacity: 1;
	background-color: var(--background-secondary);
}
/*Typing*/
.form__13a2c {
	display: flex;
	flex-flow: column-reverse;
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
}
.form__13a2c::before {
	display: none;
}
.base__512ed {
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
}
.typing__6fd1d {
	display: flex;
	position: static;
	align-items: center;
	margin-bottom: -22px !important;
	padding: 0 15px 10px;
	background-color: var(--background-secondary);
	transition: height .5s;
	border-radius: var(--border-alt) var(--border-alt) 0 0;
	padding-bottom: 25px;
}
/*Background*/
.scrollableContainer__33e06::-webkit-scrollbar {
	display: none;
}
.characterCount_e55010 {
	z-index: 3;
}
.channelTextArea__2e60f {
	border-radius: 0 0 var(--border) var(--border);
	background-color: transparent;
	margin-bottom: 0
}
.theme-dark .form__13a2c:before {
	background: transparent;
}
/*Text Align*/
.slateTextArea__0661c {
	text-align: left;
	margin-left: 0;
}
.placeholder__4bea5 {
	left: 0;
}
/*Mentions/Text Channel link*/
.wrapper__2d9b1 {
	background: rgba(84, 127, 248, .3) !important;
	border-radius: var(--border-alt);
	padding: 0 5px 0 5px
}
.wrapper__2d9b1:hover {
	background: rgb(84, 127, 248, .5) !important;
}
/*Server follow*/
.wrapper_fbbb73 {
	margin-bottom: 0;
	border-radius: var(--border-alt);
	bottom: 0;
	background-color: var(--background-secondary-alt);
}
/*Autocomplete / Slash section*/
.categoryHeader_f97a5f {
	border-radius: var(--border-alt);
	margin-bottom: 4px;
}
.wrapper__7a35f:after {
	display: none
}

/* ||||  CHAT POPOUTS  |||| */

/*Domain Trust */
.wrap_e504b7 {
	border-radius: var(--border-alt);
}
/*Server Notification Settings Popout*/
.modal__060da {
	border-radius: var(--border-alt);
	padding-top: 10px
}
/*Voice Chat "Playing" Popout*/
.container__56cd1 {
	border-radius: var(--border-alt);
}
/*Autocomplete Box (For channel # etc)*/
.autocomplete_df266d {
	border-radius: var(--border-alt);
	margin: 0 25px 0 25px;
	background-color: var(--background-secondary-alt) !important;
}
.base__76a71 {
	border-radius: var(--border-alt);
}
/*Reply System*/
.attachedBars_da3c74 {
	border-radius: var(--border) var(--border) 0 0;
	margin-bottom: -14px;
	padding-bottom: 15px;
	padding-right: 5px;
	background: var(--background-secondary)
}
.container__08420 {
	padding-right: 5px;
}
.replyBar_b64d74 {
	border-radius: var(--border) var(--border) 0 0;
	margin-top: -2px;
}
.replyBar_b64d74 .closeButton__89e56 {
	padding-right: 8px;
}
/*Highlight Buttons (Right Side of Highlighted Message)*/
.wrapper_c727b6 {
	border-radius: var(--border-alt);
	background: var(--background-secondary-alt)
}
/*Attach File Popout*/
.attachPopout_ad7c41 {
	border-radius: var(--border-alt);
	margin-bottom: -10px;
}
.attachPopoutRow__3a2eb {
	border-radius: 25px;
}
/*Emojis/Gifs*/
.contentWrapper__321ed {
	border-radius: var(--border-alt);
}
.navButton__05cc7 {
	border-radius: var(--border-alt);
}
.searchBar__8f956 {
	border-radius: var(--border-alt);
}
.searchBar-gJe8lY {
	border-radius: var(--border-alt);
}
.emoji.jumboable {
	border-radius: 5px;
}
/*Emojis after clic on chat*/
.emojiSection_a65b54 {
	padding: 6px 10px 10px 10px;
}
.emojiSection_a65b54 .emoji.jumboable {
	width: 70%;
	height: 70%;
}
.emojiSection_a65b54 .flex_f5fbb7 {
	flex: 1 1 431px !important;
}

.layer__2efaa {
		background-color: var(--background-tertiary);
}

/* ||||  THREADS / VOICE CHAT |||| */

.resizeHandle_f1a098 {
	width: var(--marge);
}
.container_def45c {
	margin: 0 var(--marge-ext) var(--marge-ext) 0;
	background: none;
}
.chat__1d65d,
.chat_f9a759 {
	margin-top: var(--marge);
}
.chat_f9a759::before {
	display: none;
}
.container__116d0 .container__11d72{
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}
.form__198f4 {
	background-color: var(--background-secondary);
	border-radius: var(--border-alt);
}
.channelTextArea_c27a51 {
	margin: 0;
	width: 100%;
}
.container_def45c .container__11d72 {
	width: 100%;
	margin: 0;
}
.threadSidebarOpen_fa231d .content__1a4fe {
	width: calc(100% - var(--marge));
}
.threadSidebarOpen_fa231d .container__11d72 {
	width: calc(100% - var(--marge));
}
.threadSidebarOpen_fa231d .toolbar__88c63 {
	margin-right: 0;
}

/* ||||  SERVER LIST  |||| */
.platform-win .scroller__3d071 {
	padding-top: 0;
}
.wrapper_a7e7a8 {
	padding-right: max(0px, calc(var(--marge) - 10px));
	height: calc(100% - var(--marge-ext));
}
.wrapper_a7e7a8.hidden__7c832 {
	margin: 0 !important;
	padding: 0 !important;
}
.guilds__2b93a {
	width: 70px;
}
/*Closed Folder*/
.closedFolderIconWrapper-15K9MK {
	background: var(--background-floating);
}
/*Add server and discovery*/
.circleIconButton_d8df29.selected__5250e {
	background-color: var(--brand-experiment);
}
.circleIconButton_d8df29 svg {
	color: var(--brand-experiment);
}
.circleIconButton_d8df29.selected__5250e svg {
	color: white;
}
/*Home icon*/
:root {
	--icon-home: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cpath id='home' d='M13.688,43.053l0,-8l-5.867,0c-2.109,0 -3.821,-1.712 -3.821,-3.821l0,-22.464c0,-2.109 1.712,-3.821 3.821,-3.821l32.358,-0c2.109,-0 3.821,1.712 3.821,3.821l-0,22.464c-0,2.109 -1.712,3.821 -3.821,3.821l-18.491,0l-8,8Z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.homeIcon__00b1b {
	color: transparent;
	mask: var(--icon-home);
	-webkit-mask: var(--icon-home);
	background: var(--interactive-normal);
	width: 63%;
	height: 63%;
	margin-top: 2px;
}
.wrapper_d281dd.selected_f5ec8e .homeIcon__00b1b {
	background: #fff;
}
/*ping serveur*/
.unreadMentionsIndicatorTop_ada847 {
	padding-top: 48px;
	height: 73px;
}
.unreadMentionsIndicatorBottom_fdb943 {
	padding-bottom: 135px;
}
.unreadMentionsBar__0d02a.unread__75c9f {
	display: none;
}
/* En haut */

.guilds__2b93a .scroller__3d071 {
	margin-top: 48px;
}
.guilds__2b93a .scroller__3d071 .tutorialContainer__890ea {
	position: fixed;
	transform: translatey(-100%);
	z-index: 3;
	width: 70px;
}
.guilds__2b93a .scroller__3d071 .tutorialContainer__890ea .listItem_fa7b36 {
	margin-bottom: 0;
}
.guildSeparator_dcb3cc {
	margin-bottom: 2px;
	opacity: 0;
}
.scroller__3d071::after {
	position: fixed;
	content: "";
	width: 70px;
	height: 22px;
	top: 70px;
	left: 0;
	background: var(--background-tertiary);
	-webkit-mask: linear-gradient(black 0px, transparent 15px);
}
/*pv message notif top 1*/
.tutorialContainer__890ea ~ div:nth-child(2)[style="opacity: 1; height: 56px; transform: scale(1);"] {
	margin-top: 5px !important;
}
/* En bas */
.scroller__3d071 {
	contain: unset;
	padding-bottom: 160px;
}
.scroller__3d071::before {
	content: "";
	position: fixed;
	bottom: var(--marge-ext);
	width: 70px;
	height: 145px;
	background: linear-gradient(transparent, var(--background-tertiary) 25px);
	z-index: 1;
}
.tutorialContainer_dc6fde {
	position: fixed;
	bottom: calc(var(--marge-ext) - 8px);
	z-index: 2;
}
.tutorialContainer_dc6fde + .listItem_fa7b36 {
	position: fixed;
	bottom: calc(50px + var(--marge-ext));
	contain: none;
	z-index: 2;
}

/* ||||  CHANNELS LIST  |||| */

.sidebar_ded4b5 {
	margin-bottom: var(--marge-ext);
	border-radius: max(5px, var(--border)) var(--border) var(--border) var(--border) !important;
}
.privateChannels__93473,
.header__104ca,
.container__7c79d,
.animatedContainer__341f6 {
	border-radius: var(--border-alt) var(--border-alt) 0 0;
}
.link__95dc0,
.linkTop_eaa673 {
	border-radius: var(--border-alt);
}
.containerUserOver__8b873::after {
	background-color: hsla(224, calc(var(--saturation-factor, 1)*58%), 65%, 20%);
	border-color: var(--brand-experiment);
}
.name_c08dbc {
	text-align: center;
	display: inline;
}
.wrapper__9c483 .children_d4d259 {
	position: absolute;
	right: 0;
	width: 25px;
	opacity: 0;
}
.wrapper__9c483:hover .children_d4d259 {
	background: var(--bg-overlay-3, var(--background-secondary));
	opacity: 1;
}
.listDefault__205d0 .clickable__137bc:hover .content_b60865 {
	border-radius: var(--border-alt);
}

/*Connected voice*/
.inner_ab95dc:hover .channel_d7d412 {
	height: 13px;
	opacity: 1;
}
.inner_ab95dc .channel_d7d412 {
	height: 0;
	transition: 250ms 170ms;
	opacity: 0;
}
.inner_ab95dc {
	position: relative;
	left: 15px;
}
.channel_d7d412 {
	left: -13px;
	position: relative;
}

/*Voice Activity*/
.avatarSpeaking_c95053 {
	box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px var(--background-secondary);
}
.avatarSpeaking-33RRJU {
	box-shadow: inset 0 0 0 2.5px var(--brand-experiment);
	border-radius: 50%;
}
/*Supprime le texte en dessous d'invisible et ne pas se deranger lors de la selection de statuts.  */
#status-picker .separator-1So4YB,
#status-picker .description__76091 {
	display: none;
}
/*arrondi des bords de la liste des contacts de la sidebar*/
.channel_c21703 {
	border-radius: var(--border-alt);
}

.button__4f306 {
	border-radius: var(--border-alt) !important;
}

/* ||||  MEMBERS LIST  |||| */

.membersWrap__90226 {
	margin-left: var(--marge);
	min-height: 100%;
}
.members__9f47b {
	border-radius: var(--border);
}
.container_b2ce9c {
	background-color: transparent;
}
.membersGroup__85843 {
	border-bottom: 2px solid;
	border-image: linear-gradient(90deg, transparent, var(--channels-default), transparent);
	border-image-slice: 1;
	padding: 19px 21px 2px 27px;
	margin: 0 0 10px 10px;
	text-align: center;
	width: 200px;
}

/* ||||  MEMBERS PAGE  |||| */

.chat__52833.page__0b66e {
		background: none;
}
.scroller__6e4c4{
		background-color: var(--background-primary);
		padding: 0;
		margin-right: var(--marge-ext);
		margin-left: var(--marge);
		margin-top: var(--marge);
		margin-bottom: var(--marge-ext);
		border-radius: var(--border);
}

.role__631a3,
.otherRoles_a19529 {
	border-radius: var(--border-alt);
}
.content__1a4fe.container_df3aa0{
		padding: 12px;
}
.select__0eb48 {
		border-radius: var(--border-alt);
}
.selectPositionTop__139bc.open_cd27aa {
		border-radius: 0 0 var(--border-alt) var(--border-alt);
}

.settingsContent_cd9872 {
		padding-left: 10px;
		padding-right: 0;
}

.settingsScroller_ac87dd.customScroller_f72801.contentRegionScroller__86c79.auto_a48086.scrollerBase_dc3aa9 {
		width: fit-content !important;
}

.container__7b3c6{
		background-color: var(--background-primary) !important;
		width: 780px;
		border-radius: var(--border);
}
.scrollerContainer_c3503a {
		box-shadow:none;
}
.searchBar_b46f4f {
		border-radius: var(--border-alt) !important;
}


/* ||||  USER PROFILE  |||| */

/* ||||  SETTINGS  |||| */

/*Global settings*/

.standardSidebarView__1129a {
	border-radius: var(--border);
	background: transparent;
	margin-bottom: var(--marge-ext);
}
.contentRegion__0bec1 {
	border-radius: var(--border);
	background: transparent;
	width: 70px !important;
}

.customColumn_e22a6e ~ .toolsContainer_f5d55d {
	margin: 0;
	right: 33px;
}

.contentRegionScroller__86c79 {
	position: unset;
	width: fit-content !important;
	margin-right: var(--marge-ext);
	border-radius: var(--border);
	background-color: var(--background-primary);
}

/*left*/
.sidebarRegionScroller__1fa7e {
	position: relative;
	flex: 0 220px;
	margin-right: var(--marge);
	vertical-align: center;
	border-radius: var(--border);
}
.sidebarRegion__60457 {
	flex: 1 auto;
	background: transparent;
}
.connectionHeader-2rV1ze {
	border-radius: var(--border-alt) var(--border-alt) 0 0;
}
.card-16VQ8C,
.cardWrapper-CyvwQv,
.accountList-305sx3,
.connection-107AGH,
.radioBar-3w9XY-,
.flexCenter_f6d9b0,
.hasValue__3f56a {
	border-radius: var(--border-alt);
}
.sidebarRegion__60457 .item__48dda,
.item-2idW98,
.container_d5f6d0,
.inputDefault-3FGxgL,
.side-2ur1Qk .item-3XjbnG {
	border-radius: var(--border-alt) !important;
}
.theme-dark .game__19f4b {
	box-shadow: none;
}

/*Servers settings*/
.customScroller_f72801 {
	width: 780px;
	border-radius: var(--border);
	background-color: var(--background-primary);
}
.customContainer__93c7c {
	background-color: var(--background-tertiary) !important;
}
.contentRegionScroller__86c79 {
	width: 780px !important;
	padding-right: 0 !important;
}

.contentRegionShownSidebar__610ed {
	width: 680px;
	padding-right: 80px;
	border-radius: var(--border);
}
.scroller__79060.auto_a48086.scrollerBase_dc3aa9 {
	width: 548px;

}
.customContainer__93c7c {
	background-color: var(--background-tertiary);
}
.list__8e7c9 {
	width: 460px
}
.list__8e7c9 .content-2a4AW9 {
	height: 100% !important
}
.header__63c59 {
	width: 450px;
}
.scroller__4a41d,
.scroller__79060 {
	width: 548px;
	border-radius: var(--border);
	background-color: var(--background-primary);
}

.list__8e7c9 {
	width: auto;
}

.content__3d283 {
	margin-right: 65px !important;
}
.customContainer__93c7c {
	background: var(--background-primary);
	border-radius: var(--border);
}
.row__41b49 {
	border-radius: var(--border-alt);
}
.flex_f5fbb7,
.header_e08fd2,
.warning__9db16,
.roleRow-3LoHQ6,
.input-2g-os5,
.descriptionBox-1EKQKL {
	border-radius: var(--border-alt);
}
.theme-dark .headerExpanded__03c29 {
	border-radius: var(--border-alt) var(--border-alt) 0 0
}
.theme-dark .changeDetails_ecd760 {
	border-radius: 0 0 var(--border-alt) var(--border-alt)
}
.lookFilled-1GseHa.select-1Ia3hD {
	border-radius: var(--border-alt);
}
.lookFilled-1GseHa.select-1Ia3hD.open-1FRZsK {
	border-radius: var(--border-alt) var(--border-alt) 0 0;
}

/* ||||  RIGHT CLICK PANE  |||| */

.focused-3qFvc8 {
	border-radius: var(--border-alt);
}
.menu_dc52c6 {
	border-radius: var(--border-alt);
}

/* ||||  CALLS  |||| */

.grid-3HQYa0l.wrapper-vj0FTk.wrapper_bd2abe.noChat_ce920d.video__85ac2.theme-dark {
	border-radius: var(--border-alt);
	margin-right: var(--marge-ext);
}
.wrapper-vj0FTk.videoGrid__8b6fc.thin_b1c063.fade-1R6FHN {
	border-radius: var(--border-alt);
	margin-right: 10px;
}
.callContainer_cbde45 {
	border-radius: var(--border-alt);
}
.noChat_ce920d {
	margin-left: var(--marge);
	height: calc(100% - var(--marge-ext)) !important;
	border-radius: var(--border-alt);
}
.wrapper_bd2abe.normal_ab55fd,
.wrapper_bd2abe.minimum_ebf000 {
	width: calc(100% - var(--marge-ext) - var(--marge)) !important;
	border-radius: var(--border-alt);
	margin-left: var(--marge);
}
.video__85ac2 {
	margin-right: var(--marge-ext);
}
.centerButton__3205b {
	border-radius: 35px !important;
}
.border_e782de.speaking__1dd69 {
	box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px #000;
}
.border_d9a17b.speaking__9b95a {
	box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px #000;
}


/* |||| FULL SCREEN CALLS  |||| */

.wrapper__567fe {
	border-radius: var(--border-alt);
}
.videoWrapper__2fde3 {
	border-radius: var(--border-alt);
}
.tile_a411a4 {
	border-radius: var(--border-alt);
}
.speaking__9b95a {
	border-radius: var(--border-alt);
}
.fullScreen__5263c .callContainer_cbde45 {
	border-radius: 0 !important
}
.videoControls__40f61 .container__11d72 {
	width: unset;
}
.wrapper_bd2abe.chatSidebarOpen_dfaa6a .callContainer_cbde45 {
	border-radius: var(--border)
}
.chatSidebarOpen_dfaa6a .topControls_d202b0 .toolbar__88c63 {
	margin-right: 0px
}
.item-2OyinQ {
	border-radius: var(--border) !important;
	margin-right: 4px;
}
.item-2OyinQ:last-child {
	margin-right: 0
}

/* ||||  SERVER MESSAGE SEARCH  |||| */

/*Search-Box tips*/
.searchBar_e0c60b {
	border-radius: var(--border-alt) !important;
}
.container_d6dad3 .option_b5597b {
	border-radius: var(--border);
}
.container_d6dad3 .option_b5597b::after {
	display: none;
}
/*Search Results Page*/
.searchResultsWrap__9f374 {
	margin-left: var(--marge);
	border-radius: var(--border-alt);
}
.searchHeader__19d87 {
	border-radius: var(--border-alt) var(--border-alt) 0 0;
	background: var(--background-secondary-alt);
}
.searchResultMessage-1fxgXh.hit-1fVM9e {
	border-radius: var(--border-alt);
	background: var(--background-primary)
}
.jumpButton-JkYoYK {
	border-radius: var(--border-alt);
}
.tab_e864e6.selected-g-kMVV {
	border-radius: var(--border-alt) !important;
}
.tab_e864e6:hover {
	border-radius: var(--border-alt) !important;
}
.searchHeaderTabList__78b98 .item-3XjbnG {
	border-radius: var(--border-alt) !important;
}

/* ||||  CREATE GROUP DM POPOUT  |||| */

.searchBarComponent__46512 {
	border-radius: var(--border);
}
.anchor-1MIwyf {
	border-radius: var(--border);
}
.checkbox-f1HnKB {
	border-radius: var(--border);
}

/* ||||  SHARE SCREEN POPUPS  |||| */

.modalSize-22vimZ {
	border-radius: var(--border-alt);
}
.button_afdfd9 {
	border-radius: var(--border-alt);
}
.close-1mLglB {
	outline: #fff;
}
.card-1SdQ2- {
	border-radius: var(--border-alt);
}


/* ||||  MISC POPUPS  |||| */

:root {
	--popupmarge: calc(3px + var(--marge));
}
/*Inbox*/
.container__20de0 {
	border-radius: var(--border-alt);
	top: var(--popupmarge);
}
/*Pins*/
.messagesPopoutWrap_b3b384 {
	top: var(--popupmarge);
	box-shadow: none;
	border-radius: var(--border-alt);
}
.messageGroupWrapper_f8c6e9 {
	border-radius: var(--border-alt);
}
.header_f5cc88 {
	background: var(--background-secondary-alt);
	box-shadow: none;
	border-radius: var(--border-alt) var(--border-alt) 0 0;
}
/*Treads*/
.browser_fece63 {
	top: var(--popupmarge);
	position: relative;
	border-radius: var(--border-alt);
}
.header__53b07 {
	background-color: var(--background-secondary-alt);
}
/*Add to group*/
.popout__08442 {
	top: var(--popupmarge);
	background-color: var(--background-primary) !important;
}
/*Focus Popup*/
.footerSeparator-VzAYwb {
	border-radius: 0 0 var(--border-alt) var(--border-alt);
}

/* ||||  DISCOVERY PAGE  |||| */

/*Main*/
.pageWrapper_fef757 {
	border-radius: var(--border);
	background-color: var(--background-primary) !important;
	height: calc(100% - var(--marge-ext));
	margin: 0 var(--marge-ext) 0 var(--marge);
}
.searchBox_a63854.searchBox-31Zv9h {
	border-radius: 25px;
}
.scroller_e9501c {
	margin: 0 var(--marge-ext) var(--marge-ext) var(--marge);
	height: unset;
}

/*Main*/
.pageWrapper_fef757 {
	border-radius: var(--border);
	background-color: var(--background-primary) !important;
	height: calc(100% - var(--marge-ext));
	margin: 0 var(--marge-ext) 0 var(--marge);
}
.searchBox_a63854.searchBox-31Zv9h {
	border-radius: 25px;
}

.scroller_e9501c {
	margin: 0 var(--marge-ext) var(--marge-ext) var(--marge);
	height: unset;
	border-radius: var(--border);
}
.scroller-3j5xK2 {
	height: calc(100% - 50px);
}
.itemInner__9e755 {
	border-radius: var(--border-alt)
}
/*Server Cards*/
.headerImage-2D5D-v {
	border-radius: 25px;
}
.card__86773 {
	border-radius: 12.5px;
}
.avatar_be9803 {
	border-radius: 50px;
}
.iconMask__1aff7 {
	border-radius: 50px;
}

/* ||||  ANIMATION/TRANSITION  |||| */

@keyframes open-settings {
	from {
		transform: scale(1.2, 0.1);
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes element-spawn {
	from {
		transform: scale(0);
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes animation-left {
	from {
		transform: translateX(15px);
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes animation-right {
	from {
		transform: translateX(-15px);
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes animation-bottom {
	from {
		transform: translateY(-15px);
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes settings-icon {
	from {
		transform: rotate(180deg)
	}
	to {
		transform: rotate(360deg)
	}
}
@keyframes element-load {
	from {
		opacity: 0.2
	}
	to {
		opacity: 1
	}
}
@keyframes members-load {
	from {
		opacity: 0.6
	}
	to {
		opacity: 1
	}
}
@keyframes wait-background {
	from {
		background: none;
	}
	99% {
		background: none;
	}
	100% {
		background-color: var(--background-modifier-selected);
	}
}
@keyframes selected-button {
	from {
		transform: scale(0);
		background-color: var(--background-modifier-selected);
		opacity: 0.5;
	}
	to {
		transform: scale(1.9);
		background: none;
		opacity: 1;
	}
}
/*Global*/
.animatorLeft-3yvG13 {
	animation: animation-left 270ms;
}
.animatorRight-xAUgTY {
	animation: animation-right 270ms;
}
.animatorBottom-L63-7D {
	animation: animation-bottom 270ms;
}
.animatorTop-3ltI52 {
	animation: element-spawn 140ms ease-in-out;
	transform-origin: bottom !important
}
/*Menu deroulant*/
.menu_dc52c6 {
	animation: element-spawn 97ms ease-in-out;
	transform-origin: center
}
/*Image*/
.imageWrapper_fd6587.image__79a29 {
	animation: element-spawn 200ms ease-in-out;
	transform-origin: center
}
/*Pop up "focus"*/
.focusLock-2tveLW {
	animation: element-spawn 170ms ease-in;
	transform-origin: center
}
/*Emoji*/
.drawerSizingWrapper__30274 {
	animation: element-spawn 150ms ease-in-out;
	transform-origin: bottom right
}
.animatorRight-xAUgTY .popoutContainer__7b9a3 {
	animation: element-spawn 150ms ease-in-out;
	transform-origin: left
}
/*Popup boite de reception + msgs epingles + threads*/
.layer-2aCOJ3[style="position: absolute; right: 315px; top: 50px;"],
.laaria-labelyer-2aCOJ3[style="position: absolute; right: 395px; top: 50px;"],
.layer-2aCOJ3[style="position: absolute; right: 355px; top: 50px;"] {
	animation: animation-bottom 270ms;
}
.browser_fece63 {
	animation: animation-bottom 270ms;
}
/*Tooltip*/
.tooltipTop-1wv5UJ {
	animation: element-spawn 129ms ease-in-out;
	transform-origin: bottom
}
.tooltipRight-2TSb42 {
	animation: element-spawn 100ms ease-in-out;
	transform-origin: left
}
.tooltipBottom-2WzfVx {
	animation: element-spawn 129ms ease-in-out;
	transform-origin: top
}
.container_d6dad3 {
	animation: element-spawn 129ms ease-in-out;
	transform-origin: top
}
/*Settings icon*/
.container_ca50b9 .button__4f306:nth-child(3):hover .contents_fb6220 {
	transform: rotate(90deg);
	transition: 1300ms 100ms;
	animation: settings-icon 6.5s infinite linear;
	animation-delay: 1185ms;
}
/*Settings*/
.standardSidebarView__1129a {
	animation: open-settings 225ms ease-in-out;
	transform-origin: top
}
.layer_e552e0 {
	background-color: var(--background-tertiary);
}
/*Fenetre des boosts serveur*/
.perksModalContentWrapper-2HU6uL {
	animation: open-settings 350ms ease-in-out;
	transform-origin: top
}
/*Profil button*/
.clickable__17ccb .layout_bb8e67 {
	transition: transform 250ms ease-in;
}
.clickable__17ccb:hover .layout_bb8e67 {
	transform: scale(1.035);
	transition: transform 200ms ease-in;
}
/*adapation du theme*/
.clickable__17ccb:hover .layout_bb8e67 {
	background: none;
}
.clickable__17ccb:hover {
	background-color: var(--background-modifier-hover);
}
.clickable__17ccb {
	border-radius: var(--border-alt);
}
.clickable__17ccb:hover .children_c027c5 {
	transform: none !important;
	position: relative;
	left: -4px;
}
.selected__9800b .layout_bb8e67 {
	background: none;
}
.selected__9800b {
	background-color: var(--background-modifier-selected);
	border-radius: var(--border-alt);
}
/*Channel bouton*/
.iconVisibility__62ab5 .mainContent-20q_Hp {
	transition: transform 225ms ease-in;
	transform-origin: left;
}
.iconVisibility__62ab5:hover .mainContent-20q_Hp {
	transform: scale(1.03);
	transform-origin: left;
	transition: transform 225ms ease-in;
}
.modeSelected__487d6:hover .mainContent-20q_Hp {
	transform: none;
}
/*Friends bouton*/
.peopleListItem_d14722 .userInfo__18240 {
	transition: transform 225ms ease-in;

}
.peopleListItem_d14722 {
		overflow: hidden;
}
.peopleListItem_d14722:hover .userInfo__18240 {
	transform: scale(1.03);
	transition: transform 225ms ease-in;
}
.peopleListItem_d14722 {
	margin: 0;
	padding-left: 30px;
	padding-right: 20px;
}
/*Selected buttons*/
.accountProfileCard__22589 {
	box-shadow: 0px 0px 30px var(--background-tertiary);
}
.item-3XjbnG:hover {
	transition: background-color 150ms ease-in;
}
.selected__5711d.item__48dda,
.selected-3veCBZ,
.selected__9800b {
	animation: wait-background 190ms;
	overflow: hidden;
}
.selected__5711d.item__48dda::after,
.selected-3veCBZ::after,
.selected__9800b::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 87%;
	animation: selected-button 200ms ease-in;
	transform-origin: center;
	border-radius: var(--border-alt);
}
.selectedCategoryItem__0bf4c::after {
	display: none
}
/*Messages on channel*/
.scroller__1f96e .message__80c10,
.scroller__1f96e .anchor-1MIwyf,
.scroller__1f96e .video__4c052 {
	animation: element-load 350ms ease-in-out;
}
/*masque le message en cour d'envoie pour eviter les doulons*/
.isSending__6e109 {
	opacity: 0.2;
}
/*Friends and channels*/
.container__590e2 .scroller_f0f183 {
	animation: members-load 375ms ease-in-out;
}
.scroller__4b984 {
	animation: element-load 250ms ease-in-out;
}
/*Friends pannel*/
.peopleList__2379e {
	animation: element-load 250ms ease-in-out;
}
.scroller__00e7e {
	animation: element-load 250ms ease-in-out;
}
/*Memberslist*/
.members__9f47b .content-2a4AW9 {
	animation: members-load 475ms ease-out;
}

/* ||||  LIGHT THEME  |||| */

.theme-light {
	--background-tertiary: #d9d9d9;
	--background-primary: #e3e3e3;
	--background-secondary: #e9e9e9;
	--background-secondary-alt: #f1f1f1;
	--channels-default: #121212;
}

/* ||||  DARK THEME  |||| */

.theme-dark {
	--background-primary: hsl(220, 8%, calc(var(--light) + 10%)) !important;
	--background-secondary: hsl(220, 8%, calc(var(--light) + 8%)) !important;
	--background-secondary-alt: hsl(220, 8%, calc(var(--light) + 5%)) !important;
	--background-tertiary: hsl(220, 8%, calc(var(--light) + 1%)) !important;
	--background-modifier-active: hsla(220, 8%, calc(var(--light) + 22%), 0.24) !important;
	--background-modifier-selected: hsla(220, 8%, calc(var(--light) + 22%), 0.32) !important;
	--background-accent: hsl(220, 8%, calc(var(--light) + 6%)) !important;
	--background-floating: hsl(220, 8%, min(var(--light), 10%)) !important;
	--channeltextarea-background: var(--background-secondary-alt);
	--home-background : var(--background-primary);
	--brand-experiment: hsl(224, calc(var(--saturation-factor, 1)*60%), 65%) !important;
	--brand-experiment-500: hsl(224, calc(var(--saturation-factor, 1)*58%), 60%) !important;
	--brand-experiment-560: hsl(224, calc(var(--saturation-factor, 1)*55%), 56%) !important;
	--brand-experiment-600: hsl(224, calc(var(--saturation-factor, 1)*54%), 50%) !important;
	--brand-experiment-15a: hsla(224, calc(var(--saturation-factor, 1)*58%), 65%, 0.149) !important;
	--mentioned-color: 105, 173, 199;
	--scrollbar-thin-track: transparent;
	--scrollbar-thin-thumb: hsl(220, 8%, calc(var(--light) + 20%));
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-thumb: hsl(220, 8%, calc(var(--light) + 20%));
	--scrollbar-auto-scrollbar-color-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: hsl(220, 8%, calc(var(--light) + 20%));
	;
}
/*Mentions*/
.theme-dark .mentioned__58017 {
	background-color: rgba(var(--mentioned-color), 0.1);
}
#app-mount .theme-dark .mentioned__58017:hover,
#app-mount .mentioned__58017.selected_fd9051 {
	background-color: rgba(var(--mentioned-color), 0.15);
}
.automodMessage__410f7:before,
.burstHighlightBorder-2yVWyh,
.ephemeral_c26b64:before,
.highlighted__5f454:before,
.mentioned__58017:before,
.replying_d7b6ad:before {
	background-color: rgb(var(--mentioned-color));
}
/*Custom css*/
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
	background-color: var(--background-tertiary) !important;
}
.monaco-editor .scroll-decoration,
.monaco-editor .minimap {
	display: none;
}
.monaco-editor .slider {
	border-radius: 10px;
}
.decorationsOverviewRuler {
	display: none;
}
/*Color variable*/
.theme-dark .container__0810b .header-2C89wJ {
	background-color: var(--background-secondary-alt);
}
.theme-dark .container__0810b section {
	background-color: var(--background-primary);
}
.footer_ceda43 {
	background-color: var(--background-secondary) !important;
}
.theme-dark .message__04d9f {
	background-color: var(--background-primary);
}
.container_d6dad3 {
	background: var(--background-secondary-alt) !important;
}
.wrapper__6e669,
.channelName-3w2Y3c,
.scroller_c8d5ad {
	background-color: var(--background-secondary-alt) !important;
}
.bd-button-title,
.bd-controls .bd-addon-button:not(.bd-button-danger) {
	background-color: var(--brand-experiment) !important;
}
.reaction-2A2y9y:not(.reactionMe-3I9gFK) {
	background-color: var(--background-secondary-alt) !important;
}
.formFieldWrapper-2LV3S6,
.cardPrimary-3qRT__,
.customizationSection-2ns2M6 .input-2g-os5 {
	background-color: var(--background-secondary-alt) !important;
}
.theme-dark .selected-3H3-RC {
	background-color: var(--background-primary) !important;
}
.focused_f9cf2c {
	background-color: var(--background-secondary-alt) !important;
}
.perksModal-fSYqOq {
	background: var(--background-primary) !important;
}
.button__71a0f {
	background-color: var(--background-secondary) !important;
}
.tierHeaderLocked__4d099 {
	background-color: var(--background-secondary-alt) !important;
}
.tierBody__615a1 {
	background-color: var(--background-secondary) !important;
}

/* ||||  BETTERDISCORD  |||| */

#bd-pub-li {
	display: none;
}
.floating-window {
	border-radius: 5px;
}
/*Couleur*/
.bd-button {
	background-color: var(--brand-experiment);
}
.bd-button:active {
	background-color: var(--brand-experiment-600)
}
.bd-button:hover {
	background-color: var(--brand-experiment-560)
}
.bd-addon-views .bd-view-button.selected {
	background-color: var(--brand-experiment);
}
.bd-addon-button:not(.bd-button-danger) {
	margin-right: 3px;
}

/* ||||  ANTI NITRO PUB  |||| */

/*Supprime "Nitro" et "Bibliothèque" dans le menu. #private-channels-3*/
.link__2e8e1[href="/shop"],
.link__2e8e1[href="/store"],
.link__2e8e1[href="/library"] {
	display: none;
}
/*Masque la pub nitro quand on clique sur un emoji*/
.emojiSection_a65b54 .shinyButton_fc8363 {
	display: none;
}
.size14-3fJ-ot.clickCTA_cf2c69 {
	display: none;
}
.popoutContainer__7b9a3 .premiumButton-CucmSw {
	display: none;
}
/*Supprime l'icône cadeau et le stikers dans l'espace de texte.*/
.buttons_ce5b56 .container__5eb17,
.stickerButton__8af38 {
	display: none;
}
div.buttons_ce5b56 > button {
	display: none;
}
/*Masque les "tutoriels" dans la liste des salons*/
.container-3O_wAf {
	display: none;
}
.channelNotice-tO6Tus {
	display: none;
}
/*Masque les pup-ups lie au steakers*/
.container__628bd {
	display: none;
}
/*Supprime l'icone nitro dans les parametres.*/
.premiumLabel_f2cd55 svg {
	display: none;
}
/*Retire l'icone nitro sur les bannieres*/
.bannerPremium__42693 .premiumIconWrapper__83620 {
	display: none;
}
/*Retire l'effet de brillance sur les boutons d'abonnement nitro*/
.shineContainerDefault-3f8X_o {
	display: none;
}
/*l'icone boost de serveur dans le menu en gris*/
.colorPremium-vwmYZQ .icon-E4cW1l {
	color: var(--interactive-normal);
}
/*bouton nitro qui apparais bleu quand selectionne*/
.premiumTabItem-1QTfBr[aria-selected=true],
.serverBoostTabItem-2hFTIN[aria-selected=true] {
	background-color: var(--background-modifier-selected) !important;
}
/*Popup de pub nitro dans les serveurs*/
.subscribeTooltipWrapper-3ipXtC {
	display: none;
}
/*Trop de caractaire, il faut passer au nitro*/
.upsell__54a69 {
	display: none;
}
/*Modifier le profil du serveur pub*/
.upsellContainer-3qKRln {
	display: none;
}
.bannerNitroUpsell__492d6 {
	display: none;
}
/*Reduction de boost avec nitro*/
.divider-Uf0Wob + .wrapper-1hrFc0,
.wrapper-3nSjSv {
	display: none;
}
.divider-Uf0Wob {
	display: none;
}
.divider-1aB8TP {
	display: none;
}
.content-2qfHzC .divider-25_-sM {
	display: none;
}
/*Notification dans les parametres "regarde les avantages .."*/
.premiumInlineNotice-eSBKv7,
.changelogNotice-CQEWmQ {
	display: none;
}
.bannerUpsellContainer-31E9J5 {
	display: none;
}
/*Dans la popup de partage d'ecran, suprimme les résolutions non disponible*/
.selectorButtonPremiumRequired-IZXhgV {
	display: none
}
/*Dans la popup de partage d'ecran, suprimme le message de pub nitro*/
.upsellBanner-1tVKtW {
	display: none
}
/*Bouton selectionner en bleu au lieux de gris*/
.selectedBackground_d847da {
	background-color: var(--background-modifier-selected);
}
/*Bouton selectionner en bleu au lieux de gris*/
.colorPremiumGradient__45b85 {
	display: none;
}
.button_d553e5[aria-label="Add Super Reaction"],
.button_d553e5[aria-label="Ajouter une super réaction"] {
	display: none !important;
}
/*Achete une décoration de profil*/
.containerWrapper-WZBNDK {
	display: none !important;
}
/*Personnalise ton profil*/
.premiumFeatureBorder__9bbb3,
.upsellOverlayContainer__08979,
.premiumFeatureBannerBackground-Epwl-X {
		display: none;
}


/* ||||  SIMPLE CORRECTIF DU THEMES  |||| */

/*Corrige les boutons partage d'ecran et fin d'appel qui apparaisse de base en carre.*/
.centerButton__3205b {
	border-radius: 35px !important;
}
/*Patch l'onglet "boost de serveur"*/
.layerContainer-2v_Sit {
	z-index: 1000;
	position: fixed;
	margin-right: 0;
}
/*Corrige la couleur des elements rouge active*/
.item-1OdjEX.colorDanger-3n-KnP:active {
	background-color: var(--status-danger-background);
}
/*Replace la photo de profil dans les parametres>Mon compte*/
.background_b61fcc {
	margin-top: 30px;
}
/*Replace le texte "bot" dans la liste des reaction*/
.reactors__20ab0 .botTagVerified_a8fa0b + .botText__19848 {
	top: -4px;
}
/*Probleme de bordure de stikers dans le menu de stikers*/
.listWrapper__74641 .stickerAsset__00e6b {
	border-radius: 10px !important;
}
/*Dans le menu amis, la colone de droite change de taille*/
.peopleColumn__51df3 {
	width: 0
}

/* ||||  NOT SORTED  |||| */

.hasNotice__1d477 {
	border-radius: var(--border-alt);
}
.panels__58331 {
	border-radius: var(--border);
}
.container_ca50b9 {
	height: 50px;
}
.container-PNkimc {
	border-radius: var(--border-alt);
}
.gameIcon__90c32 {
	border-radius: var(--border-alt);
}
.root_a28985 {
	border-radius: var(--border-alt);
}
.item_e4ca95 {
		border-radius: var(--border-alt) !important;
}
.children__32014::after {
	display: none;
}
button,
input,
#app-mount #bd-settings-sidebar .ui-tab-bar-item,
.container__11d72 .themed-2-lozF.item-3XjbnG:hover {
	border-radius: var(--border-alt) !important;
}
.item-1OdjEX,
.bd-addon-card,
.bd-button,
.bd-search-wrapper {
	border-radius: var(--border-alt) !important;
}
.focused__27621,
.colorDefault__0b482:active:not(.hideInteraction__2790e) {
	border-radius: var(--border-alt);
}
