/* SOMMAIRE :
1] TITLE BAR
2] NOTICE (TOP)
3] CHAT STUFF
4] CHATBOX
5] CHAT POPOUTS
6] THREADS
7] SERVER LIST
8] CHANNELS LIST
9] MEMBERS LIST
10] USER PROFILE
11] SETTINGS
12] RIGHT CLICK PANE
13] CALLS
14] FULL SCREEN CALLS
15] SERVER MESSAGE SHEARCH
16] CREATE GROUP DM POPOUT
17] SHARE SCREEN POPUPS
18] MISC POPUPS
19] DISCOVERY PAGE
20] ANIMATION/TRANSITION
21] LIGHT THEME
22] DARK THEME
23] BETTERDISCORD
24] ANTI NITRO PUB
25] SIMPLE CORRECTIF DU THEMES
26] NOT SORTED
*/

/* ||||  TITLE BAR  |||| */
.typeWindows-2-g3UY {
  margin-top: 0;
}
/*Change l'emplacement des icônes "reduire" "agrandir" "fermer"*/

.typeWindows-2-g3UY {
  height: max(10px, var(--marge-ext)) !important;
}
.wordmarkWindows-2dq6rw {
  display: none;
}
.platform-win .toolbar-3_r2xA {
  margin-right: 135px;
}
#app-mount .winButton-3UMjdg {
  top: 0;
  right: var(--marge-ext);
  height: 48px;
  width: 48px;
  margin-top: max(10px, var(--marge-ext));
  z-index: 1;
}
.winButton-3UMjdg {
  color: var(--interactive-active);
}
.titleBar-1it3bQ .winButton-3UMjdg:nth-child(3) {
  border-radius: 0 !important;
}
.titleBar-1it3bQ .winButton-3UMjdg:nth-child(4) {
  border-radius: var(--border) 0 0 var(--border) !important;
}
.titleBar-1it3bQ .winButtonClose-3Q8ZH5 {
  top: calc(0px - max(10px, var(--marge-ext))) !important;
  height: 10px !important;
  right: 0 !important;
  border-radius: 0;
  background-color: transparent;
}
.winButtonClose-3Q8ZH5 svg:hover {
  background-color: #ed4245;
  border-radius: 0 var(--border) var(--border) 0 !important;
}
.winButtonClose-3Q8ZH5 svg {
  padding: 18px;
  top: calc(19px + max(10px, var(--marge-ext)));
  right: var(--marge-ext);
  position: relative;
}
/*adapation de themes*/

.scroller-3j5xK2 {
  top: 50px;
  padding-top: 0;
}
/*onglet decouverte de serveur*/
.viewWrapper-oqUsis {
  top: 18px;
  position: relative;
}
/*onglet poles etudiants*/
.standardSidebarView-E9Pc3j {
  margin-top: var(--marge-ext) !important;
}
/*parametre*/
.fullScreen-KhZZcz .toolbar-3_r2xA {
  margin-right: 0 !important;
}
.root-22AK9z.idle-39sGPO .chatButton-10jXXp:not(.chatButtonShowing-1aD1ch) {
  transform: translate3d(-140px, -8px, 0)
}
.root-22AK9z .chatButton-10jXXp:not(.chatButtonShowing-1aD1ch) {
  transform: translate3d(-140px, calc(-4px + var(--marge-ext)), 0)
}
.scroller-3X7KbA::after {
  top: calc(max(10px, var(--marge-ext)) + 48px) !important;
}


/* ||||  NOTICE (TOP)  |||| */

.notice-2HEN-u {
  border-radius: var(--border);
  margin: 0 0 var(--marge) 0;
  height: 45px;
  line-height: 3;
  padding-left: 10px;
  width: calc(100% - 210px);
}
#pluginNotice {
  margin: 0 0 var(--marge) 12px !important;
  border-radius: var(--border) !important;
  height: 45px !important;
  width: calc(100% - 222px) !important;
}
.button-1iHNQ2 {
  top: 10px;
  border-radius: var(--border);
}
.title-31SJ6t .anchor-1X4H4q,
.toolbar-3_r2xA .anchor-1X4H4q {
  display: none;
}
.closeButton-30b1gR {
  top: 4px;
}

/* ||||  CHAT STUFF  |||| */

.jumpToPresentBar-1cEnH0 {
  border-radius: var(--border-alt) var(--border-alt) 0 0 !important;
  left: 0;
  margin-bottom: -17px !important;
  padding: 0 7px 27px 7px;
  margin-right: -25px;
  width: calc(100% - 14px);
}
/*Friends Panel*/
.container-ZMc96U {
  width: calc(100% - var(--marge) - var(--marge-ext));
  border-radius: var(--border);
  margin-left: var(--marge);
}
.content-1jQy2l::before {
  box-shadow: none
}
.container-2cd8Mz {
  background-color: var(--background-tertiary) !important;
}
.tabBody-2dgbAs {
  margin: var(--marge) var(--marge-ext) var(--marge-ext) var(--marge);
  border-radius: var(--border);
}
.peopleColumn-1wMU14 {
  border-radius: var(--border);
  background-color: var(--background-primary);
}
.nowPlayingColumn-1eCBCN {
  margin-left: var(--marge);
  background-color: transparent;
}
.container-1oAagU {
  border-radius: var(--border);
}
.scroller-hE2gWq {
  border-left: none;
}
.card-YtRIQ2.outer-2JOHae.padded-2NSY6O {
  display: none;
}
.themed-Hp1KC_ {
  margin-top: 0;
}
.themed-Hp1KC_ .search-39IXmY {
  order: 1;
}
.toolbar-3_r2xA .anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  display: none;
}
.container-ZMc96U .item-3mHhwr.item-3XjbnG {
  border-radius: var(--border-alt);
}
.selectedBackground-1t6xXq {
  border-radius: var(--border-alt);
}
.peopleListItem-u6dGxF {
  border-radius: var(--border-alt) !important;
}
.searchBarComponent-3N7dCG {
  border-radius: var(--border-alt) !important;
}
.addFriendInputWrapper-kkoSV9 {
  border-radius: var(--border-alt);
}
.itemCard-3Etziu {
  border-radius: var(--border-alt);
}
.section-3G9aLW {
  border-radius: var(--border-alt) !important;
}
.inset-SbsSFp,
.separator-2OaeRP {
  background-color: var(--background-primary) !important;
}
.body-16rSsp {
  border-radius: var(--border-alt) !important;
}
.result-u66Ywh {
  border-radius: var(--border-alt) !important;
}
.arrowIcon-3Q91hj {
  display: none;
}
.profilePanel-2VBkh8 {
  margin-left: var(--marge);
  border-radius: var(--border);
  overflow: hidden;
}
/*Global Search Button*/
.quickswitcher-pKcM9U {
  border-radius: var(--border);
}
.input-3r5zZY {
  border-radius: var(--border);
  box-shadow: none;
  background-color: var(--background-secondary-alt) !important;
}
/*Main*/
.content-1jQy2l {
  margin: var(--marge) var(--marge-ext) var(--marge-ext) var(--marge);
  border-radius: var(--border-alt) !important;
}
.chatContent-3KubbW {
  background-color: var(--background-primary);
  border-radius: var(--border);
}
.scroller-kQBbkU {
  background-color: var(--background-primary);
  border-radius: var(--border) var(--border) 0 0;
  height: calc(100% + 4px);
}
.chat-2ZfjoI {
  background-color: var(--background-tertiary);
}
.buttons-3dF5Kd {
  padding: 0;
}
.button-ejjZWC {
  border-radius: var(--border);
}
.message-2CShn3 .roleIcon-3-WL_I {
  margin-left: 7px;
}
.container-2McqkF {
  border-radius: var(--border-alt);
}

.chat-2ZfjoI {
  border-radius: var(--border-alt);
}
/*Channel Description*/
.modal-3Hrb0S {
  border-radius: var(--border);
}
/*Spoiler blur*/
.contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum,
.contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum:hover,
.contents-2MsGLg .spoilerText-27bIiA {
  background: rgb(130, 130, 130, 0.1);
  border-radius: 7px;
}
.contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum > .inlineContent-2YnoDy {
  filter: blur(3px);
  opacity: 1;
  transition: 350ms;
}
.contents-2MsGLg .spoilerText-27bIiA.hidden-3B-Rum:hover > .inlineContent-2YnoDy {
  filter: none;
  opacity: 1;
  transition: 700ms;
}

/* ||||  CHATBOX  |||| */

.scrollableContainer-15eg7h {
  position: relative;
  z-index: 2;
  background: var(--background-secondary-alt);
  max-height: 37vh;
  border-radius: var(--border);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-right: 12px;
}
.channelTextAreaDisabled-1p2fQv .scrollableContainer-15eg7h {
  opacity: 1;
  background-color: var(--background-secondary);
}
/*Typing*/
.form-3gdLxP {
  display: flex;
  flex-flow: column-reverse;
  background-color: transparent;
}
.form-3gdLxP::before {
  display: none;
}
.base-3bcbY3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}
.typing-2J1mQU {
  display: flex;
  position: static;
  align-items: center;
  margin-bottom: -22px !important;
  padding: 0 15px 10px;
  background-color: var(--background-secondary);
  transition: height .5s;
  border-radius: var(--border-alt) var(--border-alt) 0 0;
  padding-bottom: 25px;
}
/*Background*/
.scrollableContainer-15eg7h::-webkit-scrollbar {
  display: none;
}
.form-3gdLxP {
  padding-left: 0;
  padding-right: 0;
}
.characterCount-8yNPfb {
  z-index: 3;
}
.channelTextArea-1FufC0 {
  border-radius: 0 0 var(--border) var(--border);
  background-color: transparent;
  margin-bottom: 0
}
.theme-dark .form-3gdLxP:before {
  background: transparent;
}
/*Text Align*/
.slateTextArea-27tjG0 {
  text-align: left;
  margin-left: 0;
}
.placeholder-1_mJY1 {
  left: 0;
}
/*Mentions/Text Channel link*/
.wrapper-1ZcZW- {
  background: rgba(84, 127, 248, .3) !important;
  border-radius: var(--border-alt);
  padding: 0 5px 0 5px
}
.wrapper-1ZcZW-:hover {
  background: rgb(84, 127, 248, .5) !important;
}
/*Server follow*/
.wrapper-2SplAX {
  margin-bottom: 0;
  border-radius: var(--border-alt);
  bottom: 0;
  background-color: var(--background-secondary-alt);
}
/*Autocomplete / Slash section*/
.categoryHeader-OpJ1Ly {
  border-radius: var(--border-alt);
  margin-bottom: 4px;
}
.wrapper-1NNaWG:after {
  display: none
}

/* ||||  CHAT POPOUTS  |||| */

/*Domain Trust */
.wrap-7NZuTn {
  border-radius: var(--border-alt);
}
/*Server Notification Settings Popout*/
.modal-2RrUKJ {
  border-radius: var(--border-alt);
  padding-top: 10px
}
/*Voice Chat "Playing" Popout*/
.container-8Futzw {
  border-radius: var(--border-alt);
}
/*Autocomplete Box (For channel # etc)*/
.autocomplete-3NRXG8 {
  border-radius: var(--border-alt);
  margin: 0 25px 0 25px;
  background-color: var(--background-secondary-alt) !important;
}
.base-2v-uc0 {
  border-radius: var(--border-alt);
}
/*Reply System*/
.attachedBars-2BCP3l {
  border-radius: var(--border) var(--border) 0 0;
  margin-bottom: -14px;
  padding-bottom: 15px;
  padding-right: 5px;
  background: var(--background-secondary)
}
.container-A2jo65 {
  padding-right: 5px;
}
.replyBar-1oi75v {
  border-radius: var(--border) var(--border) 0 0;
  margin-top: -2px;
}
.replyBar-1oi75v .closeButton-3IEry2 {
  padding-right: 8px;
}
/*Highlight Buttons (Right Side of Highlighted Message)*/
.wrapper-2vIMkT {
  border-radius: var(--border-alt);
  background: var(--background-secondary-alt)
}
/*Attach File Popout*/
.attachPopout-1EnBVV {
  border-radius: var(--border-alt);
  margin-bottom: -10px;
}
.attachPopoutRow-3uEL0J {
  border-radius: 25px;
}
/*Emojis/Gifs*/
.contentWrapper-3vHNP2 {
  border-radius: var(--border-alt);
}
.navButton-1XuvI- {
  border-radius: var(--border-alt);
}
.searchBar-2M9mRP {
  border-radius: var(--border-alt);
}
.searchBar-gJe8lY {
  border-radius: var(--border-alt);
}
.emoji.jumboable {
  border-radius: 5px;
}
/*Emojis after clic on chat*/
.emojiSection-3QtaWO {
  padding: 6px 10px 10px 10px;
}
.emojiSection-3QtaWO .emoji.jumboable {
  width: 70%;
  height: 70%;
}
.emojiSection-3QtaWO .flex-2S1XBF {
  flex: 1 1 431px !important;
}

/* ||||  THREADS / VOICE CHAT |||| */

div.container-3XgAHv.floating-3M3WeH {
  margin-left: var(--marge);
  position: relative;
}
div.container-3XgAHv {
  border-left: none;
  background: none;
}
div.container-3XgAHv .container-ZMc96U {
  margin-bottom: var(--marge);
  width: calc(100% - var(--marge-ext));
  margin-left: 0;
}

div.container-3XgAHv .chat-1-OBC7 {
  padding-top: 0 !important;
}
div.container-3XgAHv .chat-1-OBC7:not(.chatSidebarOpen--YCxhs .chat-1-OBC7) {
  margin-bottom: var(--marge-ext) !important
}
.container-3XgAHv .chatContent-3KubbW {
  margin: 0 calc(var(--marge-ext)) 0 0 !important
}
.wrapper-1gVUIN.chatSidebarOpen--YCxhs {
  margin: 0 0 0 var(--marge);
}
.resizeHandle-PBRzPC {
  width: max(var(--marge), 3px);
}
.threadSidebarOpen-1LSXvU .content-1jQy2l {
  width: calc(100% - var(--marge));
}
.threadSidebarOpen-1LSXvU .container-ZMc96U {
  width: calc(100% - var(--marge));
}
.threadSidebarOpen-1LSXvU .toolbar-3_r2xA {
  margin-right: 0;
}

/* ||||  SERVER LIST  |||| */
.platform-win .scroller-3X7KbA {
  padding-top: 0;
}
.wrapper-1_HaEi {
  padding-right: max(0px, calc(var(--marge) - 10px));
  height: calc(100% - var(--marge-ext));
}
.wrapper-1_HaEi.hidden-10MsGQ {
  margin: 0 !important;
  padding: 0 !important;
}
.guilds-2JjMmN {
  width: 70px;
}
/*Closed Folder*/
.closedFolderIconWrapper-15K9MK {
  background: var(--background-floating);
}
/*Add server and discovery*/
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background-color: var(--brand-experiment);
}
.circleIconButton-1VxDrg svg {
  color: var(--brand-experiment);
}
.circleIconButton-1VxDrg.selected-2r1Hvo svg {
  color: white;
}
/*Home icon*/
:root {
  --icon-home: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:serif='http://www.serif.com/' width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='ArtBoard1' x='0' y='0' width='48' height='48' style='fill:none;'/%3E%3Cg id='ArtBoard11' serif:id='ArtBoard1'%3E%3Cpath id='home' d='M13.688,43.053l0,-8l-5.867,0c-2.109,0 -3.821,-1.712 -3.821,-3.821l0,-22.464c0,-2.109 1.712,-3.821 3.821,-3.821l32.358,-0c2.109,-0 3.821,1.712 3.821,3.821l-0,22.464c-0,2.109 -1.712,3.821 -3.821,3.821l-18.491,0l-8,8Z'/%3E%3C/g%3E%3C/svg%3E") center no-repeat;
}
.homeIcon-r0w4ny {
  color: transparent;
  mask: var(--icon-home);
  -webkit-mask: var(--icon-home);
  background: var(--interactive-normal);
  width: 63%;
  height: 63%;
  margin-top: 2px;
}
.wrapper-3kah-n.selected-1Drb7Z .homeIcon-r0w4ny {
  background: #fff;
}
/*ping serveur*/
.unreadMentionsIndicatorTop-2bTgUU {
  padding-top: 48px;
  height: 73px;
}
.unreadMentionsIndicatorBottom-3RJMnQ {
  padding-bottom: 135px;
}
.unreadMentionsBar-ZXXoOH.unread-2wipsx {
  display: none;
}
/* En haut */

.guilds-2JjMmN .scroller-3X7KbA {
  margin-top: 48px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
  position: fixed;
  transform: translatey(-100%);
  z-index: 3;
  width: 70px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS .listItem-3SmSlK {
  margin-bottom: 0;
}
.guildSeparator-a4uisj {
  margin-bottom: 2px;
  opacity: 0;
}
.scroller-3X7KbA::after {
  position: fixed;
  content: "";
  width: 70px;
  height: 22px;
  top: 70px;
  left: 0;
  background: var(--background-tertiary);
  -webkit-mask: linear-gradient(black 0px, transparent 15px);
}
/*pv message notif top 1*/
.tutorialContainer-1pL9QS ~ div:nth-child(2)[style="opacity: 1; height: 56px; transform: scale(1);"] {
  margin-top: 5px !important;
}
/* En bas */
.scroller-3X7KbA {
  contain: unset;
  padding-bottom: 160px;
}
.scroller-3X7KbA::before {
  content: "";
  position: fixed;
  bottom: var(--marge-ext);
  width: 70px;
  height: 145px;
  background: linear-gradient(transparent, var(--background-tertiary) 25px);
  z-index: 1;
}
.tutorialContainer-2jwoiB {
  position: fixed;
  bottom: calc(var(--marge-ext) - 8px);
  z-index: 2;
}
.tutorialContainer-2jwoiB + .listItem-3SmSlK {
  position: fixed;
  bottom: calc(50px + var(--marge-ext));
  contain: none;
  z-index: 2;
}

/* ||||  CHANNELS LIST  |||| */

.sidebar-1tnWFu {
  margin-bottom: var(--marge-ext);
  border-radius: max(5px, var(--border)) var(--border) var(--border) var(--border) !important;
}
.privateChannels-oVe7HL,
.header-3OsQeK,
.container-1-ERn5,
.animatedContainer-2laTjx {
  border-radius: var(--border-alt) var(--border-alt) 0 0;
}
.link-1_kTxV,
.linkTop-1W1aK6 {
  border-radius: var(--border-alt);
}
.containerUserOver-SDa1HW::after {
  background-color: hsla(224, calc(var(--saturation-factor, 1)*58%), 65%, 20%);
  border-color: var(--brand-experiment);
}
.name-3Uvkvr {
  text-align: center;
}
.wrapper-1S43wv .children-3MeUvj {
  position: absolute;
  right: 0;
  width: 25px;
  opacity: 0;
}
.wrapper-1S43wv:hover .children-3MeUvj {
  background: var(--bg-overlay-3, var(--background-secondary));
  opacity: 1;
}
.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42 {
  border-radius: var(--border-alt);
}

/*masque le bouton "Fils actif" dans la liste des salons*/
.wrapper-NhbLHG:nth-child(3) {
  margin-top: -50px;
}
/*Connected voice*/
.inner-llGtyq:hover .channel-3prF2u {
  height: 13px;
  opacity: 1;
}
.inner-llGtyq .channel-3prF2u {
  height: 0;
  transition: 250ms 170ms;
  opacity: 0;
}
.inner-llGtyq {
  position: relative;
  left: 15px;
}
.channel-3prF2u {
  left: -13px;
  position: relative;
}

/*Voice Activity*/
.avatarSpeaking-2pCGrZ {
  box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px var(--background-secondary);
}
.avatarSpeaking-33RRJU {
  box-shadow: inset 0 0 0 2.5px var(--brand-experiment);
  border-radius: 50%;
}
/*Supprime le texte en dessous d'invisible et ne pas se deranger lors de la selection de statuts.  */
#status-picker .separator-1So4YB,
#status-picker .description-3Cwkxk {
  display: none;
}
/*arrondi des bords de la liste des contacts de la sidebar*/
.channel-1Shao0 {
  border-radius: var(--border-alt);
}

/* ||||  MEMBERS LIST  |||| */

.membersWrap-3NUR2t {
  margin-left: var(--marge);
  min-height: 100%;
}
.members-3WRCEx {
  border-radius: var(--border);
}
.container-2o3qEW {
  background-color: transparent;
}
.membersGroup-2eiWxl {
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, transparent, var(--channels-default), transparent);
  border-image-slice: 1;
  padding: 19px 21px 2px 27px;
  margin: 0 0 10px 10px;
  text-align: center;
  width: 200px;
}

/* ||||  USER PROFILE  |||| */

/*User Popout
.loadingPopout-1feYe_ {border-radius: var(--border-alt);}
.setIdentityLink-hOFsMl {display: none;}
.protip-2urNh2 {display: none;}
.userPopout-2j1gM4 {border-radius: var(--border-alt);}
.role-2TIOKu{border-radius: var(--border-alt);}
.container-2O1UgZ {border-radius: var(--border-alt);}
.container-2oNtJn {border-radius: var(--border-alt);}
.item-1BCeuB {border-radius: var(--border-alt);}
.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {border-color: var(--brand-experiment);}
.pencilContainer-18TrEJ{z-index: 1;top: 100px !important}
/*modifie la banniere
.banner-1YaD3N {height: 70px;}
.userPopout-2j1gM4 .bannerPremium-kkSkPv {-webkit-mask-image: linear-gradient(black 70%, transparent 100%);mask-image: linear-gradient(black 70%, transparent 100%)}
.profileBannerPremium-KD60EB {height: 240px;}
.popoutBannerPremium-3i5EEI {
  width: 300px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.banner-1YaD3N:not(.accountProfileCard-lbN7n- .banner-1YaD3N) {background-color: transparent !important;}
.bannerOverlayPopout-1clJ34 {display: none;}
/*fix la popup qui passe sous la pp
.layer-2aCOJ3{z-index:1}
/*change l'emplacement du nomtag, du nickname et des badges
.userPopout-2j1gM4 .headerTop-3GPUSF {
  padding: 64px 16px 10% 25px;
  margin-bottom: -30px;
  top: -30px;
}
.userPopout-2j1gM4 .profileBadges-2pItdR {
  width: 100px;
  left: 16px;
}
.userPopout-2j1gM4 .profileBadges-2pItdR {transform: scale(0.9)}
.profileBadges-2pItdR.container-1gYwHN {
  justify-content: center;
  margin-top: 54px !important;
}
.userPopout-2j1gM4 .popoutBannerPremium-3i5EEI {margin-bottom: 20px;}
.userPopout-2j1gM4 .headerTagNoNickname-3tGHj6 {margin-left: 36%;}
.userPopout-2j1gM4 .nameTag-H6kSJ0 {
  margin-top: -29%;
  padding-top: 14px;
}
.userPopout-2j1gM4 .headerTagWithNickname-1U8zZH {
  margin-left: 36%;
  margin-top: 0;
}
.userPopout-2j1gM4 .nickname-t08Mck ~ .nameTag-H6kSJ0 {padding-top: 0 !important;}
.userPopout-2j1gM4 .nickname-t08Mck {
  margin-left: 36%;
  margin-top: -29%;
  padding-top: 10px;
  margin-bottom: 0;
}
/*change la couleur de l'arrière-plan du rôle en fonction de la couleur du role dans la popup de profil
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.roleCircle-1EgnFN::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: inherit;
  opacity: 0.08;
}
  /*Profile*/

/* ||||  SETTINGS  |||| */

/*Global settings*/

.standardSidebarView-E9Pc3j {
  border-radius: var(--border);
  background: transparent;
  margin-bottom: var(--marge-ext);
}
.contentRegion-3HkfJJ {
  border-radius: var(--border);
  background: transparent;
  width: 70px !important;
}

.customColumn-2n-oKU ~ .toolsContainer-25FL6V {
  margin: 0;
  right: 33px;
}

.contentRegionScroller-2_GT_N {
  position: unset;
  width: fit-content !important;
  margin-right: var(--marge-ext);
  border-radius: var(--border);
  background-color: var(--background-primary);
}

/*left*/
.sidebarRegionScroller-FXiQOh {
  position: relative;
  flex: 0 220px;
  margin-right: var(--marge);
  vertical-align: center;
  border-radius: var(--border);
}
.sidebarRegion-1VBisG {
  flex: 1 auto;
  background: transparent;
}
.connectionHeader-2rV1ze {
  border-radius: var(--border-alt) var(--border-alt) 0 0;
}
.card-16VQ8C,
.cardWrapper-CyvwQv,
.accountList-305sx3,
.connection-107AGH,
.radioBar-3w9XY-,
.flexCenter-1Mwsxg,
.hasValue-2CTSKI {
  border-radius: var(--border-alt);
}
.sidebarRegion-1VBisG .item-2GWPIy,
.item-2idW98,
.container-3EtAkD,
.inputDefault-3FGxgL,
.side-2ur1Qk .item-3XjbnG {
  border-radius: var(--border-alt) !important;
}
.theme-dark .game-2f2vPC {
  box-shadow: none;
}

/*Servers settings*/
.customScroller-m1-jZn {
  width: 780px;
  border-radius: var(--border);
  background-color: var(--background-primary);
}
.customContainer-dK1ozq {
  background-color: var(--background-tertiary) !important;
}
.contentRegionScroller-2_GT_N {
  width: 780px !important;
  padding-right: 0 !important;
}

.contentRegionShownSidebar-fHXkEg {
  width: 680px;
  padding-right: 80px;
  border-radius: var(--border);
}
.scroller-39BnzZ.auto-2TJ1RH.scrollerBase-1Pkza4 {
  width: 550px;

}
.customContainer-dK1ozq {
  background-color: var(--background-tertiary);
}
.list-38_JVu {
  width: 460px
}
.list-38_JVu .content-2a4AW9 {
  height: 100% !important
}
.header-JUTO-g {
  width: 450px;
}
.scroller-14hecM,
.scroller-39BnzZ {
  width: fit-content;
  border-radius: var(--border);
  background-color: var(--background-primary);
}

.list-38_JVu {
  width: auto;
}

.content-28mbXd {
  margin-right: 65px !important;
}
.customContainer-dK1ozq {
  background: var(--background-primary);
  border-radius: var(--border);
}
.row-1PT9E8 {
  border-radius: var(--border-alt);
}
.flex-2S1XBF,
.header-2pgFQm,
.warning-RBGtx2,
.roleRow-3LoHQ6,
.input-2g-os5,
.descriptionBox-1EKQKL {
  border-radius: var(--border-alt);
}
.theme-dark .headerExpanded-1-zwDr {
  border-radius: var(--border-alt) var(--border-alt) 0 0
}
.theme-dark .changeDetails-1kMZqI {
  border-radius: 0 0 var(--border-alt) var(--border-alt)
}
.lookFilled-1GseHa.select-1Ia3hD {
  border-radius: var(--border-alt);
}
.lookFilled-1GseHa.select-1Ia3hD.open-1FRZsK {
  border-radius: var(--border-alt) var(--border-alt) 0 0;
}

/* ||||  RIGHT CLICK PANE  |||| */

.focused-3qFvc8 {
  border-radius: var(--border-alt);
}
.menu-2TXYjN {
  border-radius: var(--border-alt);
}

/* ||||  CALLS  |||| */

.grid-3HQYa0l.wrapper-vj0FTk.wrapper-1gVUIN.noChat-2UYgeE.video-3n15R6.theme-dark {
  border-radius: var(--border-alt);
  margin-right: var(--marge-ext);
}
.wrapper-vj0FTk.videoGrid-1tZm-F.thin-31rlnD.fade-1R6FHN {
  border-radius: var(--border-alt);
  margin-right: 10px;
}
.callContainer-HtHELf {
  border-radius: var(--border-alt);
}
.noChat-2UYgeE {
  margin-left: var(--marge);
  height: calc(100% - var(--marge-ext)) !important;
  border-radius: var(--border-alt);
}
.wrapper-1gVUIN.normal-qRirv5,
.wrapper-1gVUIN.minimum-fXpVNc {
  width: calc(100% - var(--marge-ext) - var(--marge)) !important;
  border-radius: var(--border-alt);
  margin-left: var(--marge);
}
.video-3n15R6 {
  margin-right: var(--marge-ext);
}
.centerButton-1IShs7 {
  border-radius: 35px !important;
}
.border-2BJQjd.speaking-3RWJBr {
  box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px #000;
}
.border-2Vy6FN.speaking-7QZEkv {
  box-shadow: inset 0 0 0 2px var(--brand-experiment), inset 0 0 0 3px #000;
}


/* |||| FULL SCREEN CALLS  |||| */

.wrapper-9CUbzN {
  border-radius: var(--border-alt);
}
.videoWrapper-2O4_ct {
  border-radius: var(--border-alt);
}
.tile-2TcwiO {
  border-radius: var(--border-alt);
}
.speaking-7QZEkv {
  border-radius: var(--border-alt);
}
.fullScreen-KhZZcz .callContainer-HtHELf {
  border-radius: 0 !important
}
.videoControls-353CsJ .container-ZMc96U {
  width: unset;
}
.wrapper-1gVUIN.chatSidebarOpen--YCxhs .callContainer-HtHELf {
  border-radius: var(--border)
}
.chatSidebarOpen--YCxhs .topControls-23RE3h .toolbar-3_r2xA {
  margin-right: 0px
}
.item-2OyinQ {
  border-radius: var(--border) !important;
  margin-right: 4px;
}
.item-2OyinQ:last-child {
  margin-right: 0
}

/* ||||  SERVER MESSAGE SHEARCH  |||| */

/*Search-Box tips*/
.searchBar-jGtisZ {
  border-radius: var(--border-alt) !important;
}
.container-2McqkF .option-ayUoaq {
  border-radius: var(--border);
}
.container-2McqkF .option-ayUoaq::after {
  display: none;
}
/*Search Results Page*/
.searchResultsWrap-5RVOkx {
  margin-left: var(--marge);
  border-radius: var(--border-alt);
}
.searchHeader-1r_ZSh {
  border-radius: var(--border-alt) var(--border-alt) 0 0;
  background: var(--background-secondary-alt);
}
.searchResultMessage-1fxgXh.hit-1fVM9e {
  border-radius: var(--border-alt);
  background: var(--background-primary)
}
.jumpButton-JkYoYK {
  border-radius: var(--border-alt);
}
.tab-2Jo-cu.selected-g-kMVV {
  border-radius: var(--border-alt) !important;
}
.tab-2Jo-cu:hover {
  border-radius: var(--border-alt) !important;
}
.searchHeaderTabList-3CZMQB .item-3XjbnG {
  border-radius: var(--border-alt) !important;
}

/* ||||  CREATE GROUP DM POPOUT  |||| */

.searchBarComponent-18D6hD {
  border-radius: var(--border);
}
.anchor-1MIwyf {
  border-radius: var(--border);
}
.checkbox-f1HnKB {
  border-radius: var(--border);
}

/* ||||  SHARE SCREEN POPUPS  |||| */

.modalSize-22vimZ {
  border-radius: var(--border-alt);
}
.button-f2h6uQ {
  border-radius: var(--border-alt);
}
.close-1mLglB {
  outline: #fff;
}
.card-1SdQ2- {
  border-radius: var(--border-alt);
}


/* ||||  MISC POPUPS  |||| */

:root {
  --popupmarge: calc(3px + var(--marge));
}
/*Inbox*/
.container-2ebMPP {
  border-radius: var(--border-alt);
  top: var(--popupmarge);
}
/*Pins*/
.messagesPopoutWrap-3zryHW {
  top: var(--popupmarge);
  box-shadow: none;
  border-radius: var(--border-alt);
}
.messageGroupWrapper-1jf_7C {
  border-radius: var(--border-alt);
}
.header-1w9Q93 {
  background: var(--background-secondary-alt);
  box-shadow: none;
  border-radius: var(--border-alt) var(--border-alt) 0 0;
}
/*Treads*/
.browser-mnQ1T7 {
  top: var(--popupmarge);
  position: relative;
  border-radius: var(--border-alt);
}
.header-3_zmOb {
  background-color: var(--background-secondary-alt);
}
/*Add to group*/
.popout-3gby1q {
  top: var(--popupmarge);
  background-color: var(--background-primary) !important;
}
/*Focus Popup*/
.footerSeparator-VzAYwb {
  border-radius: 0 0 var(--border-alt) var(--border-alt);
}

/* ||||  DISCOVERY PAGE  |||| */

/*Main*/
.pageWrapper-2PwDoS {
  border-radius: var(--border);
  background-color: var(--background-primary) !important;
  height: calc(100% - var(--marge-ext));
  margin: 0 var(--marge-ext) 0 var(--marge);
}
.searchBox-pyIJJj.searchBox-31Zv9h {
  border-radius: 25px;
}
.scroller-RfJjkV {
  margin: 0 var(--marge-ext) var(--marge-ext) var(--marge);
  height: unset;
}

/* ||||  DISCOVERY PAGE  |||| */

/*Main*/
.pageWrapper-2PwDoS {
  border-radius: var(--border);
  background-color: var(--background-primary) !important;
  height: calc(100% - var(--marge-ext));
  margin: 0 var(--marge-ext) 0 var(--marge);
}
.searchBox-pyIJJj.searchBox-31Zv9h {
  border-radius: 25px;
}
.scroller-RfJjkV {
  margin: 0 var(--marge-ext) var(--marge-ext) var(--marge);
  height: unset;
  border-radius: var(--border);
}
.scroller-3j5xK2 {
  height: calc(100% - 50px);
}
.itemInner-3e_4G4 {
  border-radius: var(--border-alt)
}
/*Server Cards*/
.headerImage-2D5D-v {
  border-radius: 25px;
}
.card-2TuZPZ {
  border-radius: 12.5px;
}
.avatar-30VHqO {
  border-radius: 50px;
}
.iconMask-2fMR98 {
  border-radius: 50px;
}

/* ||||  ANIMATION/TRANSITION  |||| */

@keyframes open-settings {
  from {
    transform: scale(1.2, 0.1);
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes element-spawn {
  from {
    transform: scale(0);
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes animation-left {
  from {
    transform: translateX(15px);
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes animation-right {
  from {
    transform: translateX(-15px);
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes animation-bottom {
  from {
    transform: translateY(-15px);
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes settings-icon {
  from {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@keyframes element-load {
  from {
    opacity: 0.2
  }
  to {
    opacity: 1
  }
}
@keyframes members-load {
  from {
    opacity: 0.6
  }
  to {
    opacity: 1
  }
}
@keyframes wait-background {
  from {
    background: none;
  }
  99% {
    background: none;
  }
  100% {
    background-color: var(--background-modifier-selected);
  }
}
@keyframes selected-button {
  from {
    transform: scale(0);
    background-color: var(--background-modifier-selected);
    opacity: 0.5;
  }
  to {
    transform: scale(1.9);
    background: none;
    opacity: 1;
  }
}
/*Global*/
.animatorLeft-3yvG13 {
  animation: animation-left 270ms;
}
.animatorRight-xAUgTY {
  animation: animation-right 270ms;
}
.animatorBottom-L63-7D {
  animation: animation-bottom 270ms;
}
.animatorTop-3ltI52 {
  animation: element-spawn 140ms ease-in-out;
  transform-origin: bottom !important
}
/*Menu deroulant*/
.menu-1QACrS {
  animation: element-spawn 97ms ease-in-out;
  transform-origin: center
}
/*Image*/
.imageWrapper-oMkQl4.image-36HiZc {
  animation: element-spawn 200ms ease-in-out;
  transform-origin: center
}
/*Pop up "focus"*/
.focusLock-2tveLW {
  animation: element-spawn 170ms ease-in;
  transform-origin: center
}
/*Emoji*/
.drawerSizingWrapper-1txdWG {
  animation: element-spawn 150ms ease-in-out;
  transform-origin: bottom right
}
.animatorRight-xAUgTY .popoutContainer-2wbmiM {
  animation: element-spawn 150ms ease-in-out;
  transform-origin: left
}
/*Popup boite de reception + msgs epingles + threads*/
.layer-2aCOJ3[style="position: absolute; right: 315px; top: 50px;"],
.laaria-labelyer-2aCOJ3[style="position: absolute; right: 395px; top: 50px;"],
.layer-2aCOJ3[style="position: absolute; right: 355px; top: 50px;"] {
  animation: animation-bottom 270ms;
}
.browser-mnQ1T7 {
  animation: animation-bottom 270ms;
}
/*Tooltip*/
.tooltipTop-1wv5UJ {
  animation: element-spawn 129ms ease-in-out;
  transform-origin: bottom
}
.tooltipRight-2TSb42 {
  animation: element-spawn 100ms ease-in-out;
  transform-origin: left
}
.tooltipBottom-2WzfVx {
  animation: element-spawn 129ms ease-in-out;
  transform-origin: top
}
.container-2McqkF {
  animation: element-spawn 129ms ease-in-out;
  transform-origin: top
}
/*Settings icon*/
.container-YkUktl .button-12Fmur:nth-child(3):hover .contents-3NembX {
  transform: rotate(90deg);
  transition: 1300ms 100ms;
  animation: settings-icon 6.5s infinite linear;
  animation-delay: 1185ms;
}
/*Settings*/
.standardSidebarView-E9Pc3j {
  animation: open-settings 225ms ease-in-out;
  transform-origin: top
}
.layer-86YKbF {
  background-color: var(--background-tertiary);
}
/*Fenetre des boosts serveur*/
.perksModalContentWrapper-2HU6uL {
  animation: open-settings 350ms ease-in-out;
  transform-origin: top
}
/*Profil button*/
.clickable-28SzVr .layout-1qmrhw {
  transition: transform 250ms ease-in;
}
.clickable-28SzVr:hover .layout-1qmrhw {
  transform: scale(1.035);
  transition: transform 200ms ease-in;
}
/*adapation du theme*/
.clickable-28SzVr:hover .layout-1qmrhw {
  background: none;
}
.clickable-28SzVr:hover {
  background-color: var(--background-modifier-hover);
}
.clickable-28SzVr {
  border-radius: var(--border-alt);
}
.clickable-28SzVr:hover .children-283-lq {
  transform: none !important;
  position: relative;
  left: -4px;
}
.selected-1-Z6gm .layout-1qmrhw {
  background: none;
}
.selected-1-Z6gm {
  background-color: var(--background-modifier-selected);
  border-radius: var(--border-alt);
}
/*Channel bouton*/
.iconVisibility-vptxma .mainContent-20q_Hp {
  transition: transform 225ms ease-in;
  transform-origin: left;
}
.iconVisibility-vptxma:hover .mainContent-20q_Hp {
  transform: scale(1.03);
  transform-origin: left;
  transition: transform 225ms ease-in;
}
.modeSelected-3DmyhH:hover .mainContent-20q_Hp {
  transform: none;
}
/*Friends bouton*/
.peopleListItem-u6dGxF .userInfo-2WpsYG {
  transition: transform 225ms ease-in;
}
.peopleListItem-u6dGxF:hover .userInfo-2WpsYG {
  transform: scale(1.03);
  transition: transform 225ms ease-in;
}
.peopleListItem-u6dGxF {
  margin: 0;
  padding-left: 30px;
  padding-right: 20px;
}
/*Selected buttons*/
.accountProfileCard-lbN7n- {
  box-shadow: 0px 0px 30px var(--background-tertiary);
}
.item-3XjbnG:hover {
  transition: background-color 150ms ease-in;
}
.selected-1sf9UK.item-2GWPIy,
.selected-3veCBZ,
.selected-1-Z6gm {
  animation: wait-background 190ms;
  overflow: hidden;
}
.selected-1sf9UK.item-2GWPIy::after,
.selected-3veCBZ::after,
.selected-1-Z6gm::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 87%;
  animation: selected-button 200ms ease-in;
  transform-origin: center;
  border-radius: var(--border-alt);
}
.selectedCategoryItem-ZjqSui::after {
  display: none
}
/*Messages on channel*/
.scroller-kQBbkU .message-2CShn3,
.scroller-kQBbkU .anchor-1MIwyf,
.scroller-kQBbkU .video-2HW4jD {
  animation: element-load 350ms ease-in-out;
}
/*masque le message en cour d'envoie pour eviter les doulons*/
.isSending-3SiDwE {
  opacity: 0.2;
}
/*Friends and channels*/
.container-1NXEtd .scroller-1ox3I2 {
  animation: members-load 375ms ease-in-out;
}
.scroller-WSmht3 {
  animation: element-load 250ms ease-in-out;
}
/*Friends pannel*/
.peopleList-2VBrVI {
  animation: element-load 250ms ease-in-out;
}
.scroller-hE2gWq {
  animation: element-load 250ms ease-in-out;
}
/*Memberslist*/
.members-3WRCEx .content-2a4AW9 {
  animation: members-load 475ms ease-out;
}

/* ||||  LIGHT THEME  |||| */

.theme-light {
  --background-tertiary: #d9d9d9;
  --background-primary: #e3e3e3;
  --background-secondary: #e9e9e9;
  --background-secondary-alt: #f1f1f1;
  --channels-default: #121212;
}

/* ||||  DARK THEME  |||| */

.theme-dark {
  --background-primary: hsl(220, 8%, calc(var(--light) + 10%)) !important;
  --background-secondary: hsl(220, 8%, calc(var(--light) + 8%)) !important;
  --background-secondary-alt: hsl(220, 8%, calc(var(--light) + 5%)) !important;
  --background-tertiary: hsl(220, 8%, calc(var(--light) + 1%)) !important;
  --background-modifier-active: hsla(220, 8%, calc(var(--light) + 22%), 0.24) !important;
  --background-modifier-selected: hsla(220, 8%, calc(var(--light) + 22%), 0.32) !important;
  --background-accent: hsl(220, 8%, calc(var(--light) + 6%)) !important;
  --background-floating: hsl(220, 8%, min(var(--light), 10%)) !important;
  --channeltextarea-background: var(--background-secondary-alt);
  --brand-experiment: hsl(224, calc(var(--saturation-factor, 1)*60%), 65%) !important;
  --brand-experiment-500: hsl(224, calc(var(--saturation-factor, 1)*58%), 60%) !important;
  --brand-experiment-560: hsl(224, calc(var(--saturation-factor, 1)*55%), 56%) !important;
  --brand-experiment-600: hsl(224, calc(var(--saturation-factor, 1)*54%), 50%) !important;
  --brand-experiment-15a: hsla(224, calc(var(--saturation-factor, 1)*58%), 65%, 0.149) !important;
  --mentioned-color: 105, 173, 199;
  --scrollbar-thin-track: transparent;
  --scrollbar-thin-thumb: hsl(220, 8%, calc(var(--light) + 20%));
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-thumb: hsl(220, 8%, calc(var(--light) + 20%));
  --scrollbar-auto-scrollbar-color-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: hsl(220, 8%, calc(var(--light) + 20%));
  ;
}
/*Mentions*/
.theme-dark .mentioned-Tre-dv {
  background-color: rgba(var(--mentioned-color), 0.1);
}
#app-mount .theme-dark .mentioned-Tre-dv:hover,
#app-mount .mentioned-Tre-dv.selected-2LX7Jy {
  background-color: rgba(var(--mentioned-color), 0.15);
}
.automodMessage-265YwJ:before,
.burstHighlightBorder-2yVWyh,
.ephemeral-2nDdnn:before,
.highlighted-1TaRLI:before,
.mentioned-Tre-dv:before,
.replying-eZ7p5z:before {
  background-color: rgb(var(--mentioned-color));
}
/*Custom css*/
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-tertiary) !important;
}
.monaco-editor .scroll-decoration,
.monaco-editor .minimap {
  display: none;
}
.monaco-editor .slider {
  border-radius: 10px;
}
.decorationsOverviewRuler {
  display: none;
}
/*Color variable*/
.theme-dark .container-1ILvLB .header-2C89wJ {
  background-color: var(--background-secondary-alt);
}
.theme-dark .container-1ILvLB section {
  background-color: var(--background-primary);
}
.footer-VCsJQY {
  background-color: var(--background-secondary) !important;
}
.theme-dark .message-G6O-Wv {
  background-color: var(--background-primary);
}
.container-2McqkF {
  background: var(--background-secondary-alt) !important;
}
.wrapper-2RrXDg,
.channelName-3w2Y3c,
.scroller-3iiyhZ {
  background-color: var(--background-secondary-alt) !important;
}
.bd-button-title,
.bd-controls .bd-addon-button:not(.bd-button-danger) {
  background-color: var(--brand-experiment) !important;
}
.reaction-2A2y9y:not(.reactionMe-3I9gFK) {
  background-color: var(--background-secondary-alt) !important;
}
.formFieldWrapper-2LV3S6,
.cardPrimary-3qRT__,
.customizationSection-2ns2M6 .input-2g-os5 {
  background-color: var(--background-secondary-alt) !important;
}
.theme-dark .selected-3H3-RC {
  background-color: var(--background-primary) !important;
}
.focused-2FU0YH {
  background-color: var(--background-secondary-alt) !important;
}
.perksModal-fSYqOq {
  background: var(--background-primary) !important;
}
.button-1yVL_7 {
  background-color: var(--background-secondary) !important;
}
.tierHeaderLocked-30MLlO {
  background-color: var(--background-secondary-alt) !important;
}
.tierBody-1d3UiS {
  background-color: var(--background-secondary) !important;
}

/* ||||  BETTERDISCORD  |||| */

#bd-pub-li {
  display: none;
}
.floating-window {
  border-radius: 5px;
}
/*Couleur*/
.bd-button {
  background-color: var(--brand-experiment);
}
.bd-button:active {
  background-color: var(--brand-experiment-600)
}
.bd-button:hover {
  background-color: var(--brand-experiment-560)
}
.bd-addon-views .bd-view-button.selected {
  background-color: var(--brand-experiment);
}
.bd-addon-button:not(.bd-button-danger) {
  margin-right: 3px;
}

/* ||||  ANTI NITRO PUB  |||| */

/*Supprime "Nitro" et "Bibliothèque" dans le menu. #private-channels-3*/
.link-39sEB3[href="/store"],
.link-39sEB3[href="/library"] {
  display: none;
}
/*Masque la pub nitro quand on clique sur un emoji*/
.emojiSection-3QtaWO .shinyButton-2Q9MDB {
  display: none;
}
.size14-3fJ-ot.clickCTA-1bk0UN {
  display: none;
}
.popoutContainer-2wbmiM .premiumButton-CucmSw {
  display: none;
}
/*Supprime l'icône cadeau et le stikers dans l'espace de texte.*/
.stickerButton-1-nFh2 {
  display: none;
}
div.buttons-uaqb-5 > button {
  display: none;
}
/*Masque les "tutoriels" dans la liste des salons*/
.container-3O_wAf {
  display: none;
}
.channelNotice-tO6Tus {
  display: none;
}
/*Masque les pup-ups lie au steakers*/
.container-1ZA19X {
  display: none;
}
/*Supprime l'icone nitro dans les parametres.*/
.premiumLabel-3HPvdB svg {
  display: none;
}
/*Retire l'icone nitro sur les bannieres*/
.bannerPremium-kkSkPv .premiumIconWrapper-32h0Ri {
  display: none;
}
/*Retire l'effet de brillance sur les boutons d'abonnement nitro*/
.shineContainerDefault-3f8X_o {
  display: none;
}
/*l'icone boost de serveur dans le menu en gris*/
.colorPremium-vwmYZQ .icon-E4cW1l {
  color: var(--interactive-normal);
}
/*bouton nitro qui apparais bleu quand selectionne*/
.premiumTabItem-1QTfBr[aria-selected=true],
.serverBoostTabItem-2hFTIN[aria-selected=true] {
  background-color: var(--background-modifier-selected) !important;
}
/*Popup de pub nitro dans les serveurs*/
.subscribeTooltipWrapper-3ipXtC {
  display: none;
}
/*Trop de caractaire, il faut passer au nitro*/
.upsell-103Jee {
  display: none;
}
/*Modifier le profil du serveur pub*/
.upsellContainer-3qKRln {
  display: none;
}
.bannerNitroUpsell-2iP18z {
  display: none;
}
/*Reduction de boost avec nitro*/
.divider-Uf0Wob + .wrapper-1hrFc0,
.wrapper-3nSjSv {
  display: none;
}
.divider-Uf0Wob {
  display: none;
}
.divider-1aB8TP {
  display: none;
}
.content-2qfHzC .divider-25_-sM {
  display: none;
}
/*Notification dans les parametres "regarde les avantages .."*/
.premiumInlineNotice-eSBKv7,
.changelogNotice-CQEWmQ {
  display: none;
}
.bannerUpsellContainer-31E9J5 {
  display: none;
}
/*Dans la popup de partage d'ecran, suprimme les résolutions non disponible*/
.selectorButtonPremiumRequired-IZXhgV {
  display: none
}
/*Dans la popup de partage d'ecran, suprimme le message de pub nitro*/
.upsellBanner-1tVKtW {
  display: none
}
/*Bouton selectionner en bleu au lieux de gris*/
.selectedBackground-1t6xXq {
  background-color: var(--background-modifier-selected);
}
/*Bouton selectionner en bleu au lieux de gris*/
.colorPremiumGradient-38tGFG {
  display: none;
}
.button-3bklZh[aria-label="Add Super Reaction"],
.button-3bklZh[aria-label="Ajouter une super réaction"] {
  display: none !important;
}


/* ||||  SIMPLE CORRECTIF DU THEMES  |||| */

/*Corrige les boutons partage d'ecran et fin d'appel qui apparaisse de base en carre.*/
.centerButton-1IShs7 {
  border-radius: 35px !important;
}
/*Patch l'onglet "boost de serveur"*/
.layerContainer-2v_Sit {
  z-index: 1000;
  position: fixed;
  margin-right: 0;
}
/*Corrige la couleur des elements rouge active*/
.item-1OdjEX.colorDanger-3n-KnP:active {
  background-color: var(--status-danger-background);
}
/*Replace la photo de profil dans les parametres>Mon compte*/
.background-3d_SjE {
  margin-top: 30px;
}
/*Replace le texte "bot" dans la liste des reaction*/
.reactors-1VXca7 .botTagVerified-2KCPMa + .botText-1fD6Qk {
  top: -4px;
}
/*Probleme de bordure de stikers dans le menu de stikers*/
.listWrapper-2DwCYS .stickerAsset-4c7Oqy {
  border-radius: 10px !important;
}
/*Dans le menu amis, la colone de droite change de taille*/
.peopleColumn-1wMU14 {
  width: 0
}

/* ||||  NOT SORTED  |||| */

.hasNotice-1s68so {
  border-radius: var(--border-alt);
}
.panels-3wFtMD {
  border-radius: var(--border);
}
.container-YkUktl {
  height: 50px;
}
.container-PNkimc {
  border-radius: var(--border-alt);
}
.gameIcon-1mDo1J {
  border-radius: var(--border-alt);
}
.root-g14mjS {
  border-radius: var(--border-alt);
}
.children-3xh0VB::after {
  display: none;
}
button,
#app-mount #bd-settings-sidebar .ui-tab-bar-item,
.container-ZMc96U .themed-2-lozF.item-3XjbnG:hover {
  border-radius: var(--border-alt);
}
.item-1OdjEX,
.bd-addon-card,
.bd-button,
.bd-search-wrapper {
  border-radius: var(--border-alt) !important;
}
.focused-3LIdPu,
.colorDefault-2_rLdz:active:not(.hideInteraction-1vQrZJ) {
  border-radius: var(--border-alt);
}